@import '../variables.scss';

.root {
	background-color: $lookup-color;
	padding: 10px;
	width: 100%;
}

.inlineForm {
    margin: auto;
    max-width: $max-content-width;
}

.heading {
	color: $black-base;
	text-decoration: none;
	font-size: 18px;
	font-weight: 900;
	text-transform: uppercase;
	display: block;
	height: 38px;
	line-height: 38px;
}

.formGroup {
	margin: 10px;

	select {
		text-transform: uppercase;
	}
}

@media(min-width: 720px) {
	.root{
		padding: 10px 0;
	}

    .inlineForm {
        margin-left: 215px;
    }
}
