@import '../variables.scss';

.root {
    z-index: 100;
    display: flex;
    width: 100%;
    padding: 0;
    padding: 10px 0;
    flex-direction: row;
    background: $lookup-color;
    box-shadow: 0 1px 3px $gray-light;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    order: 3;

		> button[type=submit].viewParts {
				height: 100%;
				max-height: 35px;
				margin: 0 5px;
				color: $off-white;
				background: $black-base;
				opacity: 1;
				transition: opacity .2s ease-in;
		margin-bottom: 0;
		width: auto;
		font-size: 14px;

				&:disabled {
						cursor: not-allowed;
						opacity: .8;
				}
		}
}

.vehicleName {
    font-size: 1.2em;
    font-weight: 800;
		min-width:600px;

    a {
        padding: 0 .6em;
        color: $black-base;
        text-decoration: underline;
    }
}

@media screen and (width >= $screen-md-min) {
    .root {
        width: auto;
        min-width: 500px;
        background: none;
        box-shadow: none;
        flex-grow: 0;
        order: 2;
    }
}
