@import '../variables.scss';

.root {
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.vehicleName {
    font-size: 1.3em;
    font-weight: 800;
    text-align: center;

    a {
        padding: 0 .6em;
        color: $black-base;
        text-decoration: underline;
    }
}

@media (min-width: 720px) {
}
