@import '../../variables.scss';
@import '../../classes.scss';

.root {
	min-height: 250px;
	padding: 10px;
	margin: 10px;
	background: $lookup-color;
	box-shadow: 1px 0 10px 2px $lookup-color;
	transition: all .2s ease-in-out;
	transform: scale(.98);

	&.envision:hover {
		cursor: pointer;
		box-shadow: 1px 0 10px 2px $gray-lighter;
		transform: scale(1);
	}

	.header {
		min-height: 45px;
		margin-bottom: 2px;
		overflow: hidden;
	}

	.header .desc {
		font-family: $font-family-em;
		font-size: 24px;
		font-weight: 400;
		line-height: 24px;

		a {
			text-decoration: none;
		}

		a:hover {
			color: $gray-dark;
			text-decoration: none;

			.partNum {
				color: $gray-darker;
			}
		}
	}

	.header .partNum {
		margin: 0 5px;
		font-size: 24px;
		font-weight: 400;
		line-height: 28px;
		color: $gray-light;
	}

	.image {
		z-index: 10;
		display: block;
		min-width: 100px;
		min-height: 100px;
		padding: 0;
		margin-bottom: 25px;

		img {
			width: 100%;
			max-width: 300px;
			margin: 0 auto;
			box-shadow: 1px 0 10px 2px $gray-lighter;
		}
	}

	.attr {
		float: left;
		margin-left: 30px;

		.title {
			font-size: 18px;
			font-weight: 900;
		}

		ul {
			padding: 0;
			list-style: none;

			li {
				padding: 0;
			}
		}
	}

	.price {
		font-size: 20px;

		.priceValue {
			font-family: $font-family-em;
			color: $alt-red;
		}
	}

	.nav {
		bottom: .5em;
		left: 0;
		width: 100%;
		padding: 0;
		clear: both;
		text-align: center;
	}

	.viewDetails, .whereToBuy {
		width: 40%;
		min-width: 6em;
		margin: 10px auto 0;
		font-size: 1em;
		text-align: center;
	}

	.addToVehicle {
		width: 80%;
	}
}

@media (min-width: $screen-md-min) {
	.root {
		width: auto;
	}
}
