<div class="warranties-container">
	<div class="container-fluid" style="padding-left:0px;padding-right:0px;">
		<div class="visible-sm visible-md visible-lg internal-hero" style="background-image: url('http://storage.googleapis.com/aries-website/hero-images/jeep.png');"></div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-12 col-lg-12" ng-form="formvalidation">
						<h1>ONLINE WARRANTIES</h1>
						<p>In order to accept a warranty all ARIES products must have a warranty card completed with proof of purchase.</p>

						<form>
							<div class="col-xs-12 col-md-6">
							<h3>STEP 1 OF 4: PROVIDE PURCHASER INFORMATION</h3>
							<p><em>Please complete all fields.</em></p>
								<div class="form-group col-md-6 col-xs-9">
									<label for="firstName">First Name:</label>
									<input type="text" id="firstName" class="form-control" name="firstName" ng-model="warranty.contact.firstName" placeholder="Enter your first name." required>
								</div>
								<div class="form-group col-xs-6">
									<label for="lastName">Last Name:</label>
									<input type="text" id="lastName" class="form-control" name="lastName" ng-model="warranty.contact.lastName" placeholder="Enter your last name." required>
								</div>
								<div class="form-group col-xs-6">
									<label for="address">Street Address:</label>
									<input type="text" id="address" class="form-control" name="address" ng-model="warranty.contact.address" placeholder="Enter address." required>
								</div>
								<div class="form-group col-xs-6">
									<label for="city">City:</label>
									<input type="text" id="city" class="form-control" name="city" ng-model="warranty.contact.city" placeholder="Enter city." required>
								</div>


								<div class="form-group col-xs-6">
									<label for="country">Country:</label>
									<select id="country" class="form-control" name="country" ng-model="form.country" ng-options="country.country for country in countrystates" ng-change="updateStates()"required>
										<option value="" selected>--Choose a Country--</option>
									</select>
								</div>

								<div class="form-group col-xs-6">
									<label for="state">State/Province:</label>
									<select id="state" class="form-control" name="state" ng-model="form.state" ng-options="state.state for state in states" ng-change="updateState()" required>
										<option value="">--Select a State--</option>
									</select>
								</div>


								<div class="form-group col-xs-6">
									<label for="postalCode">Zip/Postal Code:</label>
									<input type="text" id="postalCode" class="form-control" name="postalCode" ng-model="warranty.contact.postalCode" placeholder="Enter zip." required>
								</div>

								<div class="form-group col-xs-6">
									<label for="phone">Phone:</label>
									<input type="text" id="phone" class="form-control" name="phone" ng-model="warranty.contact.phone" placeholder="Enter your phone number." required>
								</div>
								<div class="form-group col-xs-12">
									<label for="email">Email:</label>
									<div class="input-group">
										<span class="input-group-addon">@</span>
										<input type="text" id="email" class="form-control" name="email" ng-model="warranty.contact.email" placeholder="Enter your email." required>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-6">
								<h3>STEP 2 OF 4: PRODUCT REGISTRATION INFORMATION</h3>
								<p><em>Find your registration sticker: </em>
									<a href="https://www.curtmfg.com/assets/aries/warranty/bullbarregistrationsticker.jpg" target="blank">Bull Bar | </a>
									<a href="https://www.curtmfg.com/assets/aries/warranty/grillguardregistrationsticker.jpg" target="blank">Grill Guard | </a>
									<a href="https://www.curtmfg.com/assets/aries/warranty/sidebarregistrationsticker.jpg" target="blank"> Side Bar</a>



								</p>
								<div class="form-group col-xs-6">
									<label for="partNumber">Part Number:</label>&nbsp;&nbsp;&nbsp;<span ng-if="!partConfirm"><em>Enter a valid part number.</em></span>
									<input type="text" id="partNumber" class="form-control" name="partNumber" ng-model="warranty.partNumber" placeholder="Enter part number." ng-change="matchPart(warranty)" required>
								</div>
								<div class="form-group col-xs-6">
									<label for="date">Date:</label><span ng-model="dateMessage" ng-if="dateMessage" class="danger"> [[dateMessage]]</span>
									<input type="date" id="date" class="form-control" name="date" ng-model="warranty.date" placeholder="Enter date." ng-required>
								</div>
								<div class="form-group col-xs-6">
									<label for="serialNumber">Serial Number:</label>
									<input type="text" id="serialNumber" class="form-control" name="serialNumber" ng-model="warranty.serialNumber" placeholder="Enter serial number." required>
								</div>
								<h3 class="col-xs-12 col-md-12">STEP 3 OF 4: CLICK SUBMIT BELOW.</h3>
								<div class="form-group col-xs-3">
									<label for="submit" ng-if="message" ng-bind="message"></label>
									<button ng-click="submitWarranty(warranty)" ng-disabled="!formvalidation.$valid || !partConfirm" name="submit" type="submit" class="btn btn-primary" >Submit</button>
								</div>
							</div>
							<div class="col-xs-12 col-md-12">
								<h3>STEP 4 OF 4: FAX, MAIL, OR EMAIL PROOF OF PURCHASE TO THE FOLLOWING LOCATION TO COMPLETE REGISTRATION. </h3>
								<div class="col-lg-6 cols-centered col-md-offset-3">
									<p>
									ATTN: WARRANTY DEPT.
									</p>
									<p>
									ARIES AUTOMOTIVE<br>
									2611 Regent Boulevard<br>
									Suite 300<br>
									DFW Airport, TX 75261 USA<br>
									</p>
									<p>
									Phone: (888) 635-9824
									</p>
									<p>
									Fax: (972) 352-2617
									</p>
									<p>
									Email: <a href="mailto:customer_service@ariesoffroad.com">customer_service@ariesoffroad.com</a>

								</div>
								<p class="col-xs-12 col-md-12 col-md-offset-1">
									<em>Warranty registration is valid within 90 days from the date of purchase as stated on the proof of purchase receipt.</em>
								</p>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
