@import '../../variables.scss';

.root {
	padding: 1em 0 0 0;
	.active {
		color: $white-base;
		background-color: $new-red;
		border-color: $white-base;
	}
}

.location {
	font-size: 1.4em;
	position: relative;
	.locationtext {
		padding: .5em 0 0 0;
	}
}

.nav {
	padding: 0;
	float: left;
	width: 100%;
	li {
		list-style-type: none;
		padding: .5em 0 0 0;
		a {
			padding: 10px 15px;
			text-decoration: none;
			border: none;
			border-radius: 4px;
			:active {
				color: $white-base;
			}
		}
	}
}

.container {
	width: 100%;
	margin: 0;
}


.location, .locationtext {
	display: inline;
	
}
.search {
	width: 55%;
	display: inline-block;
	input {
		display: inline;
		margin: 0 0 0 1em;
	}
}

.suggestionsTable {
	right: 0;
    position: absolute;
    z-index: 20;
	tr {
		td {
			background-color: $white-base;
			padding: 0 5px 0 5px;
		}
	}
	tr:last-child {
		td {
			border-radius: 0 0 5px 5px;
		}
	}
	tr:first-child {
		td {
			border-radius: 5px 5px 0 0;
		}
	}
}


@media only screen and (min-width: 680px) {
	.nav {
		width: 50%;
	}
	.location {
		float: right;
	}
	.search {
		display: inline;
		input {
			width: 300px;
		}
	}
}