<div class="category-container" ng-cloak>
	<div>
		<div class="row">
			<div class="col-xs-12 col-md-12 col-lg-12">
				<div id="categoryContent" class="container-fluid">
					<div class="container">
						<h1 id="catTitle">[[category.title | uppercase]]</h1>
						<div ng-repeat="cont in category.content">
							<div class="content" ng-bind-html="renderHTML(cont.text)"></div>
						</div>
					</div>
				</div>
				<div id="catPartsContainer" class="container-fluid">
					<div class="container">
						<h2 id="catTitleProds">
							SEARCH RESULTS
							<span class="small">1 - [[parts.length]] of [[total_hits]] results for "<em>[[query]]</em>" returned in [[took]] seconds</span>
						</h2>

						<div class="product-view col-sm-12 col-md-12 col-xs-12 col-lg-12" id="product-view">
							<div class="super-padding" ng-if="parts.length === 0"></div>
							<!-- Products -->
							<div class="product row well" ng-click="goTo('/part/[[p.oldPartNumber]]')" ng-repeat="p in parts">
								<part-box part="p"></part-box>
							</div>
							<div class="scrollButton" ng-click="scrollTo(productView)"><span>Top</span></div>
							<div class="clearfix"></div>
						</div>

						<!-- Pagination -->
						<div class="clearfix"></div>
						<a href="javascript:;" class="pagination" ng-click="loadMore()" ng-if="parts.length < total_hits">
							<span>Load more</span>
						</a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
