@import '../classes.scss';
@import '../variables.scss';

.categoryStyle {
    font-size: 14px;
}

.container {
    width: 100%;
    min-height: 300px;
    margin-top: .4em;
}

.loader {
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.root {
    li {
        width: 100%;
        margin: 0 0 6px;
        border-radius: 4px;

        > a {
            padding: 5px;
            overflow-x: auto;
            overflow-y: hidden;
            font-family: $font-family-base;
            font-size: 18px;
            font-weight: bold;
            color: $new-red;
            text-align: left;
            vertical-align: text-bottom;
            border: 0;
            border-radius: 4px;

            &:hover, &:focus {
                cursor: pointer;
                background-color: $off-white;
            }
        }

        &.active > a {
            background-color: $white-base;
        }
    }

    .active {
        background-color: white;
    }
}

.clearfix {
    clear: both;
}

.envision {
    width: 38%;
    display: inline-block;
    vertical-align: top;
}

.configurator {
    width: 60%;
    display: inline-block;
}

@media (min-width: $screen-md-min) {
    .container {
        width: 100%;
        padding: 2em;
    }

    .loader {
        flex-direction: row;
    }

    .root {
        padding: 0;

        li {
            width: 100%;

            > a {
                width: 100%;
                border-radius: 4px 0 0 4px;
            }
        }
    }
}
