@import '../classes.scss';
@import '../variables.scss';

.categoryStyle {
    font-size: 14px;
}

.category {
	min-height:40px;
	padding:0px;
	padding-right:15px;
	padding-bottom:15px;

	.categoryBox {
		cursor:pointer;
		border:1px solid #fff;
		border-radius:5px;
		padding:5px;
		background-color:#fff;

		.catTitle {
			font-size:1.2em;
			color: $new-red;
		}
	}
	.categoryBox.btnActive {
		background-color:$new-red;
		color: $white-base;
		border-color: $new-red;
		.catTitle {
			color: $white-base;
		}
	}
	.categoryImage {
		height:60px;
		width:auto;
		margin-right:10px;
	}

}
.emptyCategory {
	min-height:90px;
}

.container {
    width: 100%;
    min-height: 300px;
    margin-top: .4em;
}

.loader {
    display: flex;
    padding: 20px;
    flex-direction: column;
}

.root {
    li {
        width: 100%;
        margin: 0 0 6px;
        border-radius: 4px;

        > a {
            padding: 5px;
            overflow-x: auto;
            overflow-y: hidden;
            font-family: $font-family-base;
            font-size: 18px;
            font-weight: bold;
            color: $new-red;
            text-align: left;
            vertical-align: text-bottom;
            border: 0;
            border-radius: 4px;

            &:hover, &:focus {
                cursor: pointer;
                background-color: $off-white;
            }
        }

        &.active > a {
            background-color: $white-base;
        }
    }

    .active {
        background-color: white;
    }
}

.clearfix {
    clear: both;
}

@media (min-width: $screen-md-min) {
    .container {
        width: 100%;
        padding: 2em;
    }

    .loader {
        flex-direction: row;
    }

    .root {
        padding: 0;

        li {
            width: 100%;

            > a {
                width: 100%;
                border-radius: 4px 0 0 4px;
            }
        }
    }
}

.btnActive {
	background-color:red;
}


.collapse > collapse-anim-active {
	transition: height 0.6s ease-out;
}

.collapse > .collapseItem {
	border-top: 1px solid #d9d9d9;
}
.collapse > .collapseItem:first-child {
	border-top: none;
}
.collapse > .collapseItem > .collapse-header {
	height: 38px;
	line-height: 38px;
	text-indent: 16px;
	color: #666;
	cursor: pointer;
}
.collapse > .collapseItem > .collapse-header .arrow {
	display: inline-block;
	content: '\\20';
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 4px solid #666666;
	vertical-align: middle;
	margin-right: 8px;
}
.collapse-content {
	overflow: hidden;
	color: #666666;
	padding: 0 1px;
}
.collapse-content > .collapse-content-box {
	margin-top: 16px;
	margin-bottom: 16px;
}
.collapse-content-inactive {
	display: none;
}
.collapseItem:last-child > .collapse-content {
	border-radius: 0 0 3px 3px;
}
.collapse > .collapseItem-active > .collapse-header .arrow {
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 4px solid #666666;
	margin-right: 6px;
}
