@import '../../variables.scss';

.root {
	.textlocations {
		display: block;
		width: 100%;

		h2 {
			color: $maroon;
			border-bottom: $new-red 4px solid;
		}

		.location {
			position: relative;
			min-height: 190px;
			padding: 10px 10px 0;
			margin: 10px;
			font-weight: 800;
			background-color: $white-base;
			border-bottom: 3px solid $maroon;
			box-shadow: 3px 4px 7px $black-base;
		}
	}
	.name {
		font-size: 2em;
		color: $maroon;
	}
	.name, .type, .address {
		display: block;
	}
	.address {
		padding: 1em 0 0 0;
	}
	.actions {
		padding: 2em 0 0 0;
		a {
			padding: 0 1em 0 0;
		}
	}

	.onlinelocations {
		.location {
			position: relative;
			min-height: 100x;
			padding: 10px 10px 0;
			margin: 10px;
			font-weight: 800;
			border-bottom: $maroon 4px solid;
		}
	}
}
