@import '../variables.scss';

.step4 {
	text-align: center;
	.contact {
		max-width: 40%;
		margin: auto;
		text-align: center;
	}
}

.submit {
	background-color: $new-red;
	border-color: $new-red;
}

.submit:hover {
	background-color: $new-red;
}
