
.category-container{
	#catPartsContainer{
		.product{

			.productImage{
				max-height:180px;
				max-width:180px;
				img{

				}
			}
			.productInfo{
				.productDesc{
					font-size:28px;
					font-family: "ff-good-headline-web-pro-con",sans-serif;
					font-weight:400;

					a{
						color: inherit;
						text-decoration:none;
					}
					a:hover{
						color: #666666;
						text-decoration:none;
						.productID{
							color:#cccccc;
						}
					}
				}
				.productID{
					font-size:28px;
					color: #bbbbbb;
					font-weight:400;
				}

				.productAttr{
					.attrTitle{
						font-weight:900;
						font-size:18px;
					}
				}
			}
		}
	}	
}
