.home-container{
	.red-transparent-button{
		background: transparent;
		color: #af231c;
		font-weight: bold;
		border:0px;
	}

	#hero-image-carousel{
		.carousel-inner{
			.item{
				img{
					width: 100%;
				}
				.carousel-caption{
					top: 0;
					bottom: auto;
				}
			}
		}
	}
}