.home-container{
	.red-transparent-button{
		background: transparent;
		color: $altRed;
		font-weight: bold;
		border:1px solid $altRed;
		padding-left:15px;
		padding-right:15px;
		font-size:18px;
	}

	#hero-image-carousel{
		.carousel-inner{
			.item{
				img{
					width:100%;
				}
				.carousel-caption{
					top: 0;
					bottom: auto;
					.bigText{
						font-size:40px;
						color:$headerColor;
						font-family: "proxima-nova-condensed",sans-serif;
						text-shadow: 0 0 4px rgba(255, 255, 255, 1);
						font-weight:700;
					}
				}
			}
		}
	}

	.featuredProducts {
		margin-left:auto;
		margin-right:auto;
		margin-top:8px;
		background-color:#ffffff;
		text-align:center;
		-webkit-box-shadow: 1px 0 10px 2px #ccc;
		-moz-box-shadow: 1px 0 10px 2px #ccc;
		box-shadow: 1px 0 10px 2px #ccc;
		.featuredProd{
			h4{
				color: $altRed;
				font-size:20px;
				font-weight:bold;
			}
		}
	}

	.testimonials {
		.testimonial{
			h4{
				color: $altRed;
				font-size:24px;
				font-weight:700;
			}
			p{
				margin: 0 0 2px;
			}
			.customerName{
				color: #000000;
				font-weight:bold;
				margin-top:0px;
				font-size:16px;
			}
		}
	}
}