.home-container{
	.red-transparent-button{
		border: 3px $red solid;
		background: transparent;
		color: $red;
		font-weight: bold;
	}

	#hero-image-carousel{
		.carousel-inner{
			.item{
				img{
					width: 100%;
				}
				.carousel-caption{
					top: 0;
					bottom: auto;
				}
			}
		}
	}
}