$topHeaderBackColor: #1c0104;
$headerMenuBackColor: #31070C;
$headerColor: #26090D;
$headerCallLinkColor: #b2312b;
$footerColor: #999999;
$footerNavColor: #b2312b;
$white: #ffffff;
$red: #ff0000;
$altRed : #af231c;

$icon-font-path: "../fonts/bootstrap/";
@import "../js/lib/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
@import "./homepage.scss";
@import "./aboutus.scss";
@import "./category.scss";
@import "./part.scss";
@import "./contactus.scss";
@import "./becomedealer.scss";
@import "./applicationGuides.scss";
@import "./techSupport.scss";
@import "./pace.scss";
@import "./lookup.scss";
@import "./vehicle.scss";

body{
	background: url('/img/bgtexture.png');
	font-family: "ff-good-headline-web-pro-con-n4","ff-good-headline-web-pro-con",sans-serif;
	-webkit-font-smoothing: antialiased;
	h1, h2, h3, h4{
		color: $headerColor;
		font-family: "ff-good-headline-web-pro-con",sans-serif;
		font-weight:700;
	}

	h1{
		font-size:38px;
	}

	h2{
		font-size:36px
	}

	h3{
		font-size:32px;
	}
	h4{
		font-size:28px;
	}


	p,li{
		font-family: "proxima-nova-condensed",sans-serif;
		font-size:18px;
	}

	a{
		color:$altRed;
	}

	a:hover{
		color:$headerColor;

	}

	a.red-transparent-button,
	button.red-transparent-button,
	button[type=submit].red-transparent-button,
	a.white-transparent-button,
	button.white-transparent-button,
	button[type=submit].white-transparent-button{
		background: transparent;
		background-color: rgba(255,255,255,0.6);
		font-weight: bold;
		padding: 2px 15px;
		font-size:18px;
		border-radius:0;
		cursor: pointer;
		&:hover, &:focus{
			text-decoration: none;
			background-color:transparent;
			transition: 0.3s ease-in-out;
		}
	}

	a.red-transparent-button,
	button.red-transparent-button,
	button[type=submit].red-transparent-button{
		color: $altRed;
		border:1px solid $altRed;
		
		&:hover, &:focus{
			color:$headerColor;
			border-color: $headerColor;
			transition: 0.3s ease-in-out;
		}
	}
	a.white-transparent-button,
	button.white-transparent-button,
	button[type=submit].white-transparent-button{
		color: #fff;
		border:1px solid #fff;
		&:hover,&:focus{
			transition: 0.3s ease-in-out;
		}
	}

	/** main content div on layout **/
	.content{
		.internal-hero{
			background-size:cover;
			width:100%;
			height:250px;
			background-repeat: no-repeat;
			background-position:50% -270px;
			background-attachment:scroll;
		}
	}

	header{
		background-color: $headerMenuBackColor;
		box-shadow: 0 0 24px 0 rgba(0,0,0,0.6);
		border: 0;
		margin: 0;
		z-index: 16;
		position: relative;
		.navbar{
			background-color: $headerMenuBackColor;
			border: 0;
			margin: 0;

			.topnav{

				.topNavItem{
					font-size:20px;
					font-family: "ff-good-headline-web-pro-con-n4","ff-good-headline-web-pro-con",sans-serif;
					-webkit-font-smoothing: antialiased;
				}
				background: url("/img/footer-back.png");
				margin: 0;
				font-size:20px;
				font-family: "ff-good-headline-web-pro-con-n4","ff-good-headline-web-pro-con",sans-serif;
				-webkit-font-smoothing: antialiased;
				.navbar-nav{
					ul{
						margin-right: 40px;
					}
					a{
						color: $white;
						padding-top:10px;
						padding-bottom:10px;
						-webkit-font-smoothing: antialiased;
						font-size:20px;
					}
					a:hover{
						color: #dddddd;
					}
				}
			}

			.navbar-header{
				border: 0;
				.navbar-toggle{
					border: 0;
				}
				.navbar-brand{
					padding: 0;
					.brand-logo{
						img{
							margin: 10px;
						}
					}
				}
			}

			#navbarSeperator{
				height:2px;
				background-color:#cccccc;
			}

			#navbarCollapse{
				margin: 0;
				border: 0;

				-moz-box-shadow: inset 0px 0px 25px #57111A;
				-webkit-box-shadow: inset 0px 0px 25px #57111A;
				box-shadow: inset 0px 0px 25px #57111A;
				font-size:24px;

				.extraMenu{
					color:#cccccc;
					background-color:$topHeaderBackColor;
				}

				.navbar-nav{
					border: 0;
					margin-top: 15px;

					a{
						color: $white;
						-webkit-font-smoothing: antialiased;
						padding: 10px 8px;
					}
					a:hover{
						color: #dddddd;
					}
					a.call-link{
						color: #ABABAB;
						font-size:20px;
						font-family: "proxima-nova-condensed",sans-serif;
					}
					a.call-link:hover{
						color: #D4D4D4;
						font-size:20px;
						font-family: "proxima-nova-condensed",sans-serif;
					}
					.open{
						a{
							color:$headerMenuBackColor;
							background-color: white;
							border-bottom: 1px solid white;
							border-radius: 4px 4px 0 0;
						}
					}

					.navigationItem{
						font-size:24px;
						padding-top:5px;
						font-family: "ff-good-headline-web-pro-con-n4","ff-good-headline-web-pro-con",sans-serif;
						-webkit-font-smoothing: antialiased;
					}

					li{
						.dropdown-menu{
							background-color:#ffffff;
							border-top: none;
							padding-top: 22px;
							margin: 0 0 0 -1px;
							font-size:18px;
							border-bottom: 4px solid $altRed;
							li{
								a{
									color: $headerMenuBackColor;
									border-radius:0;
								}
							}
							li:hover a{
								background-color:#cccccc;
							}

						}
					}
				}
				.phoneNum{
					margin-top: 0px;
					border-left: 1px solid #000000;
					padding-top: 20px;
					margin-bottom: 0px;
					padding-bottom: 0px;
					height: 80px;
					min-height: 100%;
					box-shadow: inset 1px 0px 0px #57111A;
				}
			}
		}
	}

	footer{
		background: url('/img/footer-back.png');
		color: $footerColor;


		.container{
			.footer-outter-row{
				margin-top: 30px;
				margin-bottom: 30px;
			}

			.addressInfo{
				font-size:18px;
			}
			.addressName{
				font-size:18px;
				font-weight:700;
			}

			font-family: "proxima-nova-condensed",sans-serif;

			h4{
						font-family: "ff-good-headline-web-pro-con",sans-serif;
						font-weight:700;
						font-size:28px;
			}


			.sema-logo-div{
				margin-top: 10px;
			}
			.footerNav{
				padding:0px 0px;
				padding-bottom:70px;
				ul{
					li{
						padding:0px;
						padding-top:4px;
						font-size:18px;
						a{
							padding:0px;

						}
						a:hover{
							color:#ccc;
						}
					}
				}
			}
			.footerLogo{
				max-height:110px;
			}
		}

		address{
			.phone-number-div{
				margin-top: 10px;
				margin-bottom: 10px;
			}

			.phone-text{
				margin-left: 5px;
				font-size:20px;
				a:hover{
					color: #666666;
				}
			}
		}

		.conditions{
			font-size:16px;
			.terms{
				text-decoration:underline;

			}
			a:hover{
				color: #666666;
			}

		}

		.social{
			padding-left:0px;
			h4{
				padding-left:15px;
			}
		}
		h4{
			color: $white;
		}
		a{
			color: $footerColor;
		}
		.nav{
			a{
				color: $footerNavColor;
				background-color:transparent;
			}
			a:hover{
				background-color:transparent;
			}
		}
	}

	input.form-control:focus,textarea.form-control:focus,select.form-control:focus{
		border-color: rgb(51,51,51);
		border-color: rgba(51,51,51,0.4);
		box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(51,51,51,0.6);
	}

	button[type=submit]{
		text-transform: uppercase;
		background-color: #57111a;
		border-color: #31070c;
		color: #fff;
		font-size: 18px;
		cursor: pointer;
		letter-spacing: 0.05em;
		&[disabled], &:hover, &:active, &:focus{
			border-color: #b2312b;
			background-color:#b2312b;
		}
	}
}

[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}


.responsiveTable{
  width: 100%;
  border-collapse: collapse;

	/* Zebra striping */
	tr:nth-of-type(odd) {
	  background: #eee;
	}
	th {
	  background: #333;
	  color: white;
	  font-weight: bold;
	}
	td, th {
	  padding: 2px;
	  border: 1px solid #ccc;
	  text-align: left;
	}
	@media
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr { border: 1px solid #ccc; }

		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #E1E1E1;
			position: relative;
			padding-left: 50%;
			line-height:20px;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

	}
}


@media(min-width: $screen-md-min){
	body{
		.content{
			.internal-hero{
				background-attachment:fixed;
			}
		}
	}
}

.ytVideoWrapper{
 	position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;

	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
