.part-container{
	.product-info{
		padding-bottom:0px;

		.product-details{
			h1{
				margin-top:10px;
			}

			.install-video{
				margin:auto;
				margin-bottom:10px;
				iframe{
					margin:auto;
				}
			}

			.crumb-container{
				.breadcrumbs{
					.breadcrumb{
						li+li:before{
							color:$headerColor;
							content:">\00a0";
							font-weight:400;
						}
						padding-left:0px;
						margin-bottom:0px;
						padding-bottom:9px;

						background-color:transparent;

						li{
							font-size:14px;
							color:$headerColor;
							font-weight:900;

							a{
								font-weight:400;
								font-style:normal;
								color:#666666;
								text-decoration:underline;
							}
							a:hover{
								font-weight:400;
								font-style:normal;
								color:#888888;
							}
						}
					}
				}
			}

			.part-header{
				display:inline-flex;
				width: 100%;

				.install-container{
					margin:auto 0;
					margin-bottom: 15px;
					text-align: center;

					.install-sheet a{
						color: #af231c;
						border: 2px solid #af231c;
						margin-bottom:10px;
						padding: 5px 10px;
						font-size: 18px;
					}
				}
			}

			.title-info{
				padding:0px;
				padding-bottom:30px;
				display:inline-flex;

				> div{
					margin:auto;
				}

				.part-num{
					padding:0px;
					.small{
						font-size: 18px;
						color: $headerColor;
						font-weight:900;
					}
				}

				.share-icons{
					min-height:40px;
					margin:0;
					padding:0px;
					text-align: right;

					#share{
						font-size: 18px;
						color: #666666;
						font-weight:900;
						padding-right:4px;
					}
					.socialIcon{
						display:inline-block;
						width:35px;
						height:35px;
						a{
							display: inline-block;
							width:100%;
							height:100%;
							line-height:40px;
							img{
								width:100%;
								height:100%;	
							}
						}
					}
				}
			}

			.part-content{
				ul{
					margin-top:25px;
					li{
						font-size:18px;
					}
				}
			}
		}

		.product-media{
			background:none;
			.carousel{
				max-width:450px;
				-webkit-box-shadow: 1px 0 10px -2px #ccc;
				-moz-box-shadow: 1px 0 10px -2px #ccc;
				box-shadow: 1px 0 10px -2px #ccc;

				.carousel-inner{
					.item{
						background:none;
					}
				}

			}
			.carouselImg{
					max-width:450px;
					max-height:450px;
				.largeImg{
				}
			}
			.thumbs{
				min-height:80px;
				max-width:450px;
				padding: 10px 0 0 0;
				margin-bottom:0px;
				list-style:none;


				.thumb{
					list-style:none; 
					cursor:pointer;
					display: inline-block;
					padding:0;
					padding-right:10px;
					width:50%;
					overflow:hidden;
					img{
						-webkit-box-shadow: 1px 0 10px 2px #ccc;
						-moz-box-shadow: 1px 0 10px 2px #ccc;
						box-shadow: 1px 0 10px 2px #ccc;
						width:100%;
						height:100%;
					}
				}
			}
			.mobile-help{
				text-align: center;
				font-size: 14px;
				text-shadow: 1px 2px 3px #e2e2e3, 0 0 0 #000, 1px 2px 3px #e2e2e3;
				color: #000;
			}
			.carousel-control{
				background:none;
				.glyphicon{
					color: $headerColor;
				}
			}
		}
	}
	.product-more{
		background-color: white;
		.part-details-more{
			padding-left:0px;
			> div{
				padding-left:0px;
			}
		}
		.prod-attributes{
			h3{
				text-transform: uppercase;
			}
			.field{
				display:inline-block;
				width: 30%;
				margin-right:10%;
				font-size:16px;
				font-weight:bold;
				text-align:right;
			}
			.value{
				font-size: 14px;
			}
		}
		.application{
			.vehicle{
				margin-bottom:0px;
				font-size:18px;


				.applicationsTbl{
					@media 
					only screen and (max-width: 760px),
					(min-device-width: 768px) and (max-device-width: 1024px)  {
						td:nth-of-type(1):before { content: "Year"; font-weight:900; }
						td:nth-of-type(2):before { content: "Make"; font-weight:900; }
						td:nth-of-type(3):before { content: "Model"; font-weight:900; }
						td:nth-of-type(4):before { content: "SubModel"; font-weight:900; }
					}
				}

				.year{

				}
				.make{

				}
				.model{

				}
				.subModel{

				}
			}
			.application-guide-link{
				margin-top:10px;
				font-size:18px;
				color: $altRed;
			}
		}
		.videos.container{
			margin-bottom:30px;
			padding-left:0px;
		}

		.accessories{
			@media (min-width: 992px){
				.col-5{
					width:20%;
				}
			}
			margin-left:auto;
			margin-right:auto;
			.featuredProd{
				img{
					margin-left:auto;
					margin-right:auto;
				}
				h4{
					color: $altRed;
					font-size:20px;
					font-weight:bold;
					text-align:center;
				}
			}
		}
	}
}

@media(min-width: $screen-md-min){
	body .part-container .product-info{ 
		.product-media{
			.thumbs{
				.thumb{
					width:25%;
				}
			}
		}
		.product-details{ 
			.install-sheet, .install-video, .share-icons{
				float:left;
				height:40px;
				line-height: 40px;
			}
			.share-icons{
				margin-left:15px;
				clear:right;
				.socialIcon{
					line-height:40px;
				}
			}
			.part-content{
				min-height:350px;
			}

			.part-header{
				.install-container{
					text-align: right;
					margin-bottom:auto;
				}
			}
		}
	}
}