



.part-container{



	#productInfo{
		padding-bottom:0px;

		#topContainer{


			#productDetails{
				h1{
					margin-top:10px;
				}

				#socialPartContainer{
					padding-left:0px;
					padding-bottom:30px;
					.partNumSmall{
						font-size: 18px;
						color: $headerColor;
						font-weight:900;
						padding-right:15px;
					}

					#social{
						#share{
							font-size: 18px;
							color: #666666;
							font-weight:900;
							padding-right:4px;
						}
						.socialIcon{
							display:inline;
							img{
								width:35px;
								height:35px;
							}
						}
					}
				}

				#breadcrumbs{
					.breadcrumb{
						li+li:before{
							color:$headerColor;
							content:">\00a0";
							font-weight:400;
						}
					padding-left:0px;
					margin-bottom:0px;
					padding-bottom:9px;

					background-color:transparent;
						li{
						font-size:14px;
						color:$headerColor;
						font-weight:900;
							a{
								font-weight:400;
								font-style:normal;
								color:#666666;
								text-decoration:underline;
							}
							a:hover{
								font-weight:400;
								font-style:normal;
								color:#888888;
							}
						}
					}
				}
			}
			#productMedia{
				background-color:#ffffff;
				.carouselImg{
					.largeImg{
						margin-left:auto;
						margin-right:auto;

					}
				}
				.thumbs{
					min-height:80px;
					max-height:140px;
					padding-left:0px;
					padding-right:0px;
					padding-bottom:0px;
					margin-bottom:0px;
					background-color:#ffffff;


					.thumb{
						padding:0px;
						max-width:140px;
						min-width:80px;
					}
				}
				.carousel-control{
					background:none;
					.glyphicon{
						color: $headerColor;
					}
				}
			}
		}
	}
	#productMore{
		#prodDetailsMore{

		}
		#application{
			.vehicle{
				margin-bottom:0px;
				font-size:18px;
				.year{

				}
				.make{

				}
				.model{

				}
				.subModel{

				}
			}
			#applicationGuideLink{
				margin-top:10px;
				font-size:18px;
				color: $altRed;
			}
		}
		#accessories{
			#accessoryItems{
				.accessory{
					text-align:center;
					margin-left:auto;
					margin-right:auto;
					.accessoryTitle{
						text-align:center;
						margin-left:auto;
						margin-right:auto;
						font-size:24px;
						color: $altRed;
						font-weight:900;
					}
				}
			}
		}
	}
}