@import '../../../variables.scss';

.root {
	display: flex;
	padding: 0;
	text-align: center;
	list-style-type: none;
	flex-direction: row;
	align-items: stretch;
	width: 100%;
	border: 1px solid $lookup-color;

	> li:first-child, > li:first-child a, > li:first-child img {
		border-radius: 4px 4px 0 0;
	}

	> li:last-child, > li:last-child a, > li:last-child img {
		border-radius: 0 0 4px 4px;
	}
}

@media (min-width: $screen-md-min) {
	.root {
		flex-direction: column;
		width: 100px;
	}
}
