@import '../../../variables.scss';

.root {
	display: inline-block;
	min-width: 100px;
	background: $lookup-color;

	a {
		width: 100%;
		height: 100%;
	}

	img {
		width: auto;
		transition: transform .3s ease;
	}

	&:hover {
		img {
			transform: scale(.75);
		}
	}
}
