$topHeaderBackColor: #1c0104;
$headerMenuBackColor: #31070C;
$headerColor: #26090D;
$headerCallLinkColor: #b2312b;
$footerColor: #999999;
$footerNavColor: #b2312b;
$white: #ffffff;
$red: #ff0000;
$altRed : #af231c;

$icon-font-path: "../fonts/bootstrap/";
@import "../js/lib/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
@import "./homepage.scss";
@import "./aboutus.scss";
@import "./category.scss";
@import "./part.scss";
@import "./contactus.scss";

body{
	background: url('/img/bgtexture.png');
	font-family: "ff-good-headline-web-pro-con-n4","ff-good-headline-web-pro-con",sans-serif;
	-webkit-font-smoothing: antialiased;
	h1, h2, h3{
		color: $headerColor;
		font-family: "ff-good-headline-web-pro-con",sans-serif;
		font-weight:700;
	}

	h1{
		font-size:38px;
	}

	h2{
		font-size:36px
	}

	h3{
		font-size:32px;
	}


	p,li{
		font-family: "proxima-nova-condensed",sans-serif;
		font-size:18px;
	}




	header{
		background-color: $headerMenuBackColor;
		border: 0;
		margin: 0;
		.navbar{
			background-color: $headerMenuBackColor;
			border: 0;
			margin: 0;

			.topnav{
				background-color: $topHeaderBackColor;
				margin: 0;
				font-size:20px;
				.navbar-nav{
					ul{
						margin-right: 40px;
					}
					a{
						color: $white;
						padding-top:10px;
						padding-bottom:10px;
						-webkit-font-smoothing: antialiased;
						font-size:20px;
					}
					a:hover{
						color: #dddddd;
					}
				}
			}

			.navbar-header{
				border: 0;
				.navbar-toggle{
					border: 0;
				}
				.navbar-brand{
					padding: 0;
					.brand-logo{
						img{
							margin: 10px;
						}
					}
				}
			}

			#navbarSeperator{
				height:2px;
				background-color:#cccccc;
			}

			#navbarCollapse{
				margin: 0;
				border: 0;

				-moz-box-shadow: inset 0px 0px 25px #57111A;
				-webkit-box-shadow: inset 0px 0px 25px #57111A;
				box-shadow: inset 0px 0px 25px #57111A;
				font-size:24px;

				.extraMenu{
					color:#cccccc;
					background-color:$topHeaderBackColor;
				}

				.navbar-nav{
					border: 0;
					margin-top: 15px;

					a{
						color: $white;
						-webkit-font-smoothing: antialiased;
						padding: 10px 10px;
					}
					a:hover{
						color: #dddddd;
					}
					a.call-link{
						color: $headerCallLinkColor;
					}
					a.call-link:hover{
						color: $headerCallLinkColor;
					}
					.open{
						a{
							color:#bbbbbb;
						}
					}

					.navigationItem{
						font-size:24px;
					}

					li{
						a{

						}
						.dropdown-toggle{
							background-color: $headerMenuBackColor;

						}
						.dropdown-menu{
							background-color:#ffffff;
							margin-top:27px;
							font-size:18px;
							border-bottom: 4px solid $altRed;
							margin-right:5px;
							li{
								a{
									color: $headerMenuBackColor;
								}
							}
							li:hover{
								background-color:#cccccc;
							}
							
						}
					}
				}
				.phoneNum{
					margin-top: 0px;
					border-left: 1px solid #000000;
					padding-top: 15px;
					/* margin-right: 0px; */
					margin-bottom: 0px;
					padding-bottom: 0px;
					height: 80px;
					min-height: 100%;
					box-shadow: inset 1px 0px 0px #57111A;	
				}
			}
		}
	}

	footer{
		background: url('/img/footer-back.png');
		color: $footerColor;


		.container{
			.footer-outter-row{
				margin-top: 30px;
				margin-bottom: 30px;
			}

			.addressInfo{
				font-size:18px;
			}
			.addressName{
				font-size:18px;
				font-weight:700;
			}

			font-family: "proxima-nova-condensed",sans-serif;

			h4{
						font-family: "ff-good-headline-web-pro-con",sans-serif;
						font-weight:700;
						font-size:28px;
			}


			.sema-logo-div{
				margin-top: 10px;
			}
			.footerNav{
				padding:0px 0px;
				padding-bottom:70px;
				ul{
					li{
						padding:0px;
						padding-top:4px;
						font-size:18px;
						a{
							padding:0px;

						}
						a:hover{
							color:#ccc;
						}
					}
				}
			}
			.footerLogo{
				max-height:110px;
			}
		}

		address{
			.phone-number-div{
				margin-top: 10px;
				margin-bottom: 10px;
			}

			.phone-text{
				margin-left: 5px;
				font-size:20px;
			}
		}

		.conditions{
			font-size:16px;
			.terms{
				text-decoration:underline;
			}

		}

		.social{
			padding-left:0px;
			h4{
				padding-left:15px;
			}
		}
		h4{
			color: $white;
		}
		a{
			color: $footerColor;
		}
		.nav{
			a{
				color: $footerNavColor;
				background-color:transparent;
			}
			a:hover{
				background-color:transparent;
			}
		}
	}
}








[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}