$topHeaderBackColor: #1c0104;
$headerMenuBackColor: #31070C;
$headerColor: #26090D;
$headerCallLinkColor: #b2312b;
$footerColor: #999999;
$footerNavColor: #b2312b;
$white: #ffffff;
$red: #ff0000;
$altRed : #af231c;

$icon-font-path: "../fonts/bootstrap/";
@import "../js/lib/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
@import "./homepage.scss";
@import "./aboutus.scss";

body{
	background: url('/img/bgtexture.png');

	h1, h2, h3{
		color: $headerColor;
	}

	header{
		background-color: $headerMenuBackColor;
		border: 0;
		margin: 0;
		.navbar{
			background-color: $headerMenuBackColor;
			border: 0;
			margin: 0;

			.topnav{
				background-color: $topHeaderBackColor;
				margin: 0;
				font-size:13px;
				.navbar-nav{
					ul{
						margin-right: 40px;
					}
					a{
						color: $white;
						padding-top:10px;
						padding-bottom:10px;
					}
					a:hover{
						color: #dddddd;
					}
				}
			}
			.

			.navbar-header{
				border: 0;
				.navbar-toggle{
					border: 0;
				}
				.navbar-brand{
					padding: 0;
					.brand-logo{
						img{
							margin: 10px;
						}
					}
				}
			}

			#navbarSeperator{
				height:2px;
				background-color:#cccccc;
			}

			#navbarCollapse{
				margin: 0;
				border: 0;

				-moz-box-shadow: inset 0px 0px 25px #57111A;
				-webkit-box-shadow: inset 0px 0px 25px #57111A;
				box-shadow: inset 0px 0px 25px #57111A;
				font-size:16px;

				.navbar-nav{
					border: 0;
					margin-top: 15px;

					a{
						color: $white;
					}
					a:hover{
						color: #dddddd;
					}
					a.call-link{
						color: $headerCallLinkColor;
					}
					a.call-link:hover{
						color: $headerCallLinkColor;
					}
					.open{
						a{
							color:#bbbbbb;
						}
					}

					li{

						a{
							padding: 10px 9px;
						}
						.dropdown-toggle{
							background-color: $headerMenuBackColor;

						}
						.dropdown-menu{
							background-color:#ffffff;
							margin-top:17px;
							border-bottom: 4px solid $altRed;
							margin-right:5px;
							li{
								a{
									color: $headerMenuBackColor;
								}
							}
							li:hover{
								background-color:#cccccc;
							}
							
						}
					}
				}
				.phoneNum{
					margin-top: 0px;
					border-left: 1px solid #000000;
					padding-top: 15px;
					/* margin-right: 0px; */
					margin-bottom: 0px;
					padding-bottom: 0px;
					height: 80px;
					min-height: 100%;
					box-shadow: inset 1px 0px 0px #57111A;	
				}
			}
		}
	}

	footer{
		background: url('/img/footer-back.png');
		color: $footerColor;

		.container{
			.footer-outter-row{
				margin-top: 30px;
				margin-bottom: 30px;
			}

			.sema-logo-div{
				margin-top: 10px;
			}
		}

		address{
			.phone-number-div{
				margin-top: 10px;
				margin-bottom: 10px;
			}

			.phone-text{
				margin-left: 5px;
			}
		}

		h4{
			color: $white;
		}
		a{
			color: $footerColor;
		}
		.nav{
			a{
				color: $footerNavColor;
				background-color:transparent;
			}
			a:hover{
				background-color:transparent;
			}
		}
	}
}


.open > .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  min-width:100%;
  
}
.open > .dropdown-menu li a {
  color: #000;
  min-width:100%;  
}
.dropdown-menu li a{
  color: #fff;
}
.dropdown-menu {
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  display: block;
  
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}
.dropup .dropdown-menu {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;  
}
 
.navbar .nav > li > .dropdown-menu:after {
 
}
.dropup > .dropdown-menu:after {
  border-bottom: 0;
  border-top: 6px solid rgba(39, 45, 51, 0.9);
  top: auto;
  display: inline-block;
  bottom: -6px;
  content: '';
  position: absolute;
  left: 50%;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}