<div class="contactus-container">
	<div class="container-fluid" style="padding-left:0px;padding-right:0px;">
		<div class="visible-sm visible-md visible-lg internal-hero" style="background-image: url('http://storage.googleapis.com/aries-website/hero-images/truck.png')"></div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-6 col-lg-6">
					<h1>CONTACT</h1>

					<form name="contactForm" role="form" novalidate>
						<div class="form-group col-xs-12">
							<label for="contact_type">What would you like to contact us about?</label>
							<select id="contact_type" ng-model="formData.type" name="contact_type" class="form-control" name="contactType" required>
								<option value="">- Select reason -</option>
								<option ng-repeat="type in contactTypes | filter:{show:true} | orderBy:'name'" value="[[type.id]]">[[type.name]]</option>
							</select>
						</div>

						<div class="form-group col-xs-6">
							<label for="firstname">Enter your first name:</label>
							<input type="text" class="form-control" id="firstname" placeholder="Enter your first name." ng-model="formData.firstName" name="firstName" required>
						</div>
						<div class="form-group col-xs-6">
							<label for="lastname">Enter your last name:</label>
							<input type="text" class="form-control" id="lastname" placeholder="Enter your last name." ng-model="formData.lastName" name="lastName" required>
						</div>


						<div class="form-group col-xs-12" ng-if="formData.type == 51">
							<label for="businessname">Enter your business name:</label>
							<input type="text" class="form-control" id="businessname" placeholder="Enter your business name." ng-model="formData.businessName" name="businessName" required>
							<label for="businesstype">Select your business type:</label>
							<select id="businesstype" class="form-control" ng-model="formData.businessType" required>
								<option value="">-Select your business type-</option>
								<option ng-repeat="bc in businessClasses" value="[[bc.name]]">[[bc.name]]</option>
							</select>
						</div>

						<div class="form-group col-xs-6">
							<label for="email">Enter your email address:</label>
							<input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address." ng-model="formData.email" name="email" required>

							<div ng-show="contactForm.email.$dirty && contactForm.email.$invalid">Invalid:
						      <span ng-show="contactForm.email.$error.required">Tell us your email.</span>
						      <span ng-show="contactForm.email.$error.email">This is not a valid email.</span>
						    </div>

						</div>
						<div class="form-group col-xs-6">
							<label for="phone">Enter your phone number:</label>
							<input type="text" class="form-control" id="phone" placeholder="Enter your phone number." ng-model="formData.phone" name="phone">
						</div>
						<div class="form-group col-xs-12">
							<label for="address">Enter your street address:</label>
							<input type="text" class="form-control" id="address" placeholder="Enter your street address." ng-model="formData.address1" name="address1"><br>
							<label for="address2" class="nodisplay">Enter your street address:</label>
							<input type="text" class="form-control" id="address2" placeholder="Address line 2." ng-model="formData.address2" name="address2">
						</div>
						<div class="form-group col-xs-12">
							<label for="city">Enter your city:</label>
							<input type="text" class="form-control" id="city" placeholder="Enter your city." ng-model="formData.city" name="city">
						</div>
						<div class="form-group col-xs-6 col-offset-xs-1">
							<label for="state">Select your state/province:</label>
							<select id="state" class="form-control" ng-model="formData.state" name="state">
								<option value="">- Select State / Province -</option>
								<optgroup ng-repeat="c in countries" label="[[c.country]]">
									<option ng-repeat="s in c.states" value="[[s.state_id]]">[[s.abbreviation]] - [[s.state]]</option>
								</optgroup>
							</select>
						</div>
						<div class="form-group col-xs-6">
							<label for="postalcode">Enter your postal code:</label>
							<input type="text" class="form-control" id="postalcode" placeholder="Enter your postal code." ng-model="formData.postalCode" name="postalCode">
						</div>

						<div class="form-group col-xs-12" ng-show="formData.type != 51">
							<label for="subject">Enter the subject:</label>
							<input type="text" class="form-control" id="subject" ng-disabled="formData.type == 51" placeholder="Enter the subject." ng-model="formData.subject" name="subject" ng-required="formData
							.type != 51">
						</div>

						<div class="form-group col-xs-12">
							<label for="message">Enter the message:</label>
							<textarea class="form-control" name="message" id="message" cols="60" rows="10" placeholder="Enter the message." ng-model="formData.message" name="message" required></textarea>
						</div>

						<div class="form-group col-xs-12">
							<button type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid || saving" ng-click="postForm()">SEND</button>
						</div>


						<div class="form-group col-xs-12 alert alert-danger" role="alert" ng-show="errorMessage">
							[[errorMessage]]
						</div>
						<div class="form-group col-xs-12 alert alert-success" role="alert" ng-show="successMessage">
							[[successMessage]]
						</div>
					</form>
				</div>
				<div class="col-xs-12 col-md-6 col-lg-6">
					<div class="locations-list">
						<h4>OUR LOCATIONS</h4>
						<div class="well">
							<address itemscope itemtype="//schema.org/Organization">
								<div class="body">
									<span class="addressname" itemprop="name">ARIES AUTOMOTIVE HEADQUARTERS - DALLAS AREA</span>
									<div class="col-md-12 addresses-container">
										<div class="col-md-6" itemprop="address" itemscope itemtype="//schema.org/PostalAddress">
											<strong>Physical Address</strong><br />
											<span itemprop="streetAddress">2611 Regent Boulevard</span>
											<br>
											<span itemprop="suite">Suite 300</span>
											<br>
											<span itemprop="addressLocality">DFW Airport</span>,
											<span itemprop="addressRegion">TX</span>
											<span itemprop="postalCode">75261</span>
										</div>

										<div class="col-md-6" itemprop="address" itemscope itemtype="//schema.org/PostalAddress">
											<strong>Mailing Address</strong><br />
											<span itemprop="streetAddress">PO BOX 1598</span>
											<br />
											<span itemprop="addressLocality">Grapevine</span>,
											<span itemprop="addressRegion">TX</span>
											<span itemprop="postalCode">76051</span>
										</div>
									</div>
									<br />
									Toll Free: <a href="tel:+18886359824" itemprop="telephone">(888) 635-9824</a><br>
									Local: <a href="tel:+19724560222" itemprop="telephone">(972) 456-0222</a><br>
									Fax: <a href="tel:+19723522617" itemprop="faxNumber">(972) 352-2617</a><br>
								</div>
							</address>
						</div>
						<div class="well">
							<address itemscope itemtype="//schema.org/Organization">
								<div class="body">
									<span class="addressname" itemprop="name">ARIES AUTOMOTIVE DALLAS AREA</span>
									<div itemprop="address" itemscope itemtype="//schema.org/PostalAddress">
										<span itemprop="streetAddress">2611 Regent Boulevard</span>
										<br>
										<span itemprop="suite">Suite 300</span>
										<br>
										<span itemprop="addressLocality">DFW Airport</span>,
										<span itemprop="addressRegion">TX</span>
										<span itemprop="postalCode">75261</span>
									</div>
									Phone: <a href="tel:+18886359824" itemprop="telephone">(888) 635-9824</a><br>
									Fax: <a href="tel:+19723522617" itemprop="faxNumber">(972) 352-2617</a><br>
								</div>
							</address>
						</div>
						<div class="well">
							<address itemscope itemtype="//schema.org/Organization">
								<div class="body">
									<span class="addressname" itemprop="name">ARIES AUTOMOTIVE ATLANTA AREA</span>
									<div itemprop="address" itemscope itemtype="//schema.org/PostalAddress">
										<span itemprop="streetAddress">110 Northpoint Parkway Suite 200</span>
										<br>
										<span itemprop="addressLocality">Acworth</span>,
										<span itemprop="addressRegion">GA</span>
										<span itemprop="postalCode">30102</span>
									</div>
									Phone: <a href="tel:+18665282878" itemprop="telephone">(866) 528-2878</a><br>
									Fax: <a href="tel:+18665292878" itemprop="faxNumber">(866) 529-2878</a><br>
								</div>
							</address>
						</div>
						<div class="well">
							<address itemscope itemtype="//schema.org/Organization">
								<div class="body">
									<span class="addressname" itemprop="name">ARIES AUTOMOTIVE EDMONTON AREA</span>
									<div itemprop="address" itemscope itemtype="//schema.org/PostalAddress">
										<span itemprop="streetAddress">12820 184th Street NW</span>
										<br>
										<span itemprop="addressLocality">Edmonton</span>,
										<span itemprop="addressRegion">Alberta</span>
										<span itemprop="postalCode">T5V 1T4</span>
									</div>
									Phone: <a href="tel:+18772878634" itemprop="telephone">(877) 287-8634</a><br>
									Fax: <a href="tel:+17158318712" itemprop="faxNumber">(715) 831-8712</a><br>
								</div>
							</address>
						</div>
						<div class="well">
							<address itemscope itemtype="//schema.org/Organization">
								<div class="body">
									<span class="addressname" itemprop="name">ARIES AUTOMOTIVE SEATTLE AREA</span>
									<div itemprop="address" itemscope itemtype="//schema.org/PostalAddress">
										<span itemprop="streetAddress">2108 'B' Street NW Suite 120</span>
										<br>

										<span itemprop="addressLocality">Auburn</span>,
										<span itemprop="addressRegion">WA</span>
										<span itemprop="postalCode">98001</span>
									</div>
									Phone: <a href="tel:+18772878634" itemprop="telephone">(877) 287-8634</a><br>
									Fax: <a href="tel:+17158318712" itemprop="faxNumber">(715) 831-8712</a><br>
								</div>
							</address>
						</div>
						<div class="well">
							<address itemscope itemtype="//schema.org/Organization">
								<div class="body">
									<span class="addressname" itemprop="name">ARIES AUTOMOTIVE TORONTO AREA</span>
									<div itemprop="address" itemscope itemtype="//schema.org/PostalAddress">
										<span itemprop="streetAddress">317 Rutherford Rd South Unit A</span>
										<br>
										<span itemprop="addressLocality">Brampton</span>,
										<span itemprop="addressRegion">Ontario</span>
										<span itemprop="postalCode">L6W 3R5</span>
									</div>
									Phone: <a href="tel:+18772878634" itemprop="telephone">(877) 287-8634</a><br>
									Fax: <a href="tel:+17158318712" itemprop="faxNumber">(715) 831-8712</a><br>
								</div>
							</address>
						</div>
						<div class="well">
							<address itemscope itemtype="//schema.org/Organization">
								<div class="body">
									<span class="addressname" itemprop="name">ARIES AUTOMOTIVE TORRANCE AREA</span>
									<div itemprop="address" itemscope itemtype="//schema.org/PostalAddress">
										<span itemprop="streetAddress">23935 Madison St., Unit B</span>
										<br>
										<span itemprop="addressLocality">Torrance</span>,
										<span itemprop="addressRegion">CA</span>
										<span itemprop="postalCode">90505</span>
									</div>
									Phone: <a href="tel:+18888002743" itemprop="telephone">(888) 800-2743</a><br>
									Fax: <a href="tel:+13103783769" itemprop="faxNumber">(310) 378-3769</a><br>
								</div>
							</address>
						</div>
					</div>
					<div class="techsupport">
						<h4>TECH SUPPORT HOTLINE: <a href="tel:+18888002743">(888) 800-2743</a></h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
