@import '../variables.scss';
.active {
	color: $white-base;
	background-color: $new-red;
	border-color: $white-base;
}
.nav {
	
	position: relative;
    display: block;
    padding: 15px 15px;
    li {
    	list-style-type: none;
    	a {
    		text-decoration: none;
    		padding: 10px 15px;
    		border: none;
    		:active {
    			color: $white-base;
    		}
    	}
    }
}