@import '../variables.scss';

.mapContainer {
    height: 600px;
    width: 100%;
    margin: 1em 0 0 0;
}

.getDirections {
	background-color: $off-white !important;
	min-width: 400px;
	border: none !important;
	font-size: 1.4em;
	button {
		background-color: $new-red;
		border: 1px solid $black;
		font-size: 1.6em;
	}
	div {
		label {
			display: block;
		}
		input {
			height: 2em;
			border: 1px solid $gray-darker;
			border-radius: 3px;
			width: 100%;
		}
	}
}

.mapFooter{
	width: 100%;
	background-color: $white-base;
	padding: 1em 1em .2em 1em;
	h4 {
		display: inline;
	}
	.toggleContainer {
		display: inline;
	    font-size: 2em;
	    background-color: #fff;
	    padding: .3em;
	    border-radius: 4px;
	    margin: 5px;
	    box-shadow: 0 0 8px 0 rgba(0,0,0,.6);
	    height: 4em;
	    input {
			transform: scale(2);
			margin: .8em;
	    }
	    span {
	    	padding: 1em;
	    }
	    img {
	    	max-height: 1em;
	    }
	}
}