@import '../../variables.scss';

.error > div {
	float: none;
}

.root {
	position: relative;
	display: flex;
	flex-direction: column;

	&.noImage {
		> img {
			width: 100%;
			max-width: 600px;
			height: 75%;
			max-height: 300px;
		}
	}

	> div:first-child {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 20;
		display: none;
		width: 100%;
		height: 100%;
		background-color: $lookup-color-opacity;

		justify-content: center;
		align-items: center;

		&.loading {
			display: flex;
		}
	}

	> div:last-child {
		display: flex;
		width: 100%;
		height: 100%;
		padding: 15px;
		flex-direction: column;

		> div:first-child {
			align-self: flex-end;

			img {
				max-width: 100%;
			}

			span {
				display: block;
				font-size: .9em;
				font-style: italic;
				text-align: center;
			}
		}

		> div:last-child {
			flex-direction: row;
		}
	}
}

@media (min-width: $screen-md-min) {
	.root {
		flex-direction: row;

		> div:last-child {
			flex-direction: row;

			> div:first-child {
				margin-left: 35px;

				order: 2;
			}

			> div:last-child {
				flex-direction: column;

				align-self: center;
				order: 1;
			}
		}
	}
}
