

.imageContainer {
	display: inline-block;
	width: 65%;
	.image {
		max-width: 750px;
		width: 65%;
	}
}

.partList {
	display: inline-block;
	width: 30%;
}

.partContainer {
	display: inline-block;
	width: 100%;
	.partImage {
		width: 20%;
		display: inline;
		padding-right: .2em;
	}
	.partContent {
		display: inline-block;
		width: 67%;
		vertical-align: middle;
		.partShortDescription {
			font-weight: 600;
			padding: 0;
			margin: 0;
		}
		.partPartNumber{
			padding: 0;
			margin: 0;
		}
	}
	.partClose {
		width: 10%;
		display: inline;
		font-weight: 800;
		.x {
			cursor: pointer;
		}
	}
}