@import '../variables.scss';

.root {
	margin: 0;
	font-size: 20px;
	background-color: $white-base;
}

.menu {
	> li > a {
		padding: 10px 0;
		font-size: 14px;
		color: $gray-light;

		&:hover {
			color: $gray-lighter;
			background-color: $white-base;
		}
	}
}

.item {
	font-family: $font-family-base;
	font-size: 20px;

	-webkit-font-smoothing: antialiased;
}

@media screen and (width >= $screen-md-min) {
	.menu > li > a {
		height: 55px;
		padding: 0 1px 0 10px;
		font-size: 20px;
		line-height: 55px;
	}
}

@media screen and (width >= $screen-lg-min) {
	.menu > li > a {
		padding: 0 15px;
		font-size: 20px;
	}
}
