<div class="container">
    <h1>Buy Local</h1>

    <div class="row">
        <div class="angular-google-map-container map-box">
            <div ng-if="!map.show && map.show !== true">
                <h1>Map Not Loading</h1>
                <span>[[ map.show ]]</span>
            </div>

            <ui-gmap-google-map ng-if="map.show" style="top:80px" class="col-md-12" center="map.center"
                                control="gMap"
                                zoom="map.zoom"
                                dragging="map.dragging"
                                options="map.options"
                                events="map.events"
                                bounds="map.bounds"
                                refresh="map.refresh"
                                pan="true">
                <ui-gmap-marker ng-repeat="m in locations" coords="m.coords" icon="map.markerIcon" idKey="m.id"></ui-gmap-marker>
            </ui-gmap-google-map>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div ng-repeat="loc in locations" class="col-md-6 col-sm-12 col-xs-12">
            <div itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="name">[[ loc.name ]]</span>
                <span itemprop="streetAddress">[[ loc.address ]]</span>
                <span itemprop="addressLocality">[[ loc.city ]]</span>,
                <span itemprop="addressRegion">[[ loc.state.abbreviation ]]</span>
                <span itemprop="postalCode">[[ loc.postalCode ]]</span>
                <span itemprop="addressCountry">[[ loc.country.country ]]</span>
            </div>
        </div>
    </div>

</div>
