@import '../variables.scss';

.root {
    display: flex;
    width: 100%;
    max-width: 800px;
    min-height: 40px;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &.parent {
        position: relative;
    }

    &.hide {
        display: none;
    }
}

@media screen and (width >= $screen-md-min) {
    .root {
        width: auto;
        flex-direction: row;
    }
}
