@import '../classes.scss';

.findProducts {
	margin: 25px 0;
	text-align: center;

	a.red-transparent-button {
		padding: 10px;
		font-size: 18px;
	}
}

.catTitle{
	display:inline-block;
}
.partsLink{
	display:inline-block;
	float:right;
	margin-top:25px;
}
.clearFix{
	clear:both;
	display:block;
	width:100%;
	height:1px;
}
