<div class="home-container">

	<div id="hero-image-carousel" class="carousel slide" data-ride="carousel">

		<div class="carousel-inner">
			<div class="item" ng-class="{'active':i === 0}" ng-repeat="(i,img) in carousel_images | orderBy:'order'">
				<div class="carouselImg" style="background: url('[[img.image]]'); background-size:cover; min-height:350px; background-repeat: no-repeat; background-position:50% 60%;"></div>
				<div class="carousel-caption">
					<span class="bigText">[[img.text]]</span>
					<div class="clearfix">&nbsp;</div>
					<a class="white-transparent-button" href="[[img.link]]">[[img.button_text]]</a>
				</div>
			</div>
		</div>

		<a class="left carousel-control" ng-click="carouselPrev()" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" ng-click="carouselNext()" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-lg-6">
				<h1>DO IT WITH STYLE. DO IT WITH ARIES</h1>
				<p>
					They change the rules, so we make up our own. They put up road blocks; we find a way around. They tell us there is no path ahead; we blaze a trail. At ARIES, we get revved up about going off the beaten path. From our Pro Series grille guards and modular
					Jeep bumpers to our StyleGuard&trade; floor liners and Seat Defenders, ARIES offers freedom of customization and a perfect fit for your vehicle. So whatever terrain you choose to conquer, do it with style and do it with ARIES.
				</p>
				<div class="ytVideoWrapper">
					<iframe allowfullscreen="" frameborder="0" height="315" src="//www.youtube.com/embed/M7k7rhOtMY4?rel=0" width="420"></iframe>
				</div>
				<div class="ytVideoWrapper" style="margin:20px 0px;">
					<iframe allowfullscreen="" frameborder="0" height="315" src="//www.youtube.com/embed/LDQEbHqWjfo?rel=0" width="420"></iframe>
				</div>
			</div>
			<div class="col-md-6 col-lg-6">

                <div class="row whats-new" ng-click="showWhatsNewLightbox()">
                    <img src="https://storage.googleapis.com/aries-website/whatsnew/What's-New-Banner.png" alt="What's New with ARIES" class="header">
                    <div class="callout">
                        <img src="https://storage.googleapis.com/aries-website/whatsnew/ARIES-Floor-Liner-Artistic-Black%20(20).jpg" alt=" Introducing StyleGuard Floor Liners" class="styleguard">
                        <span>Introducing StyleGuard&trade; Floor Liners</span>
                    </div>
                </div>

				<div class="row whats-new">
					<a href="/envision">
						<img src="https://storage.googleapis.com/aries-website/whatsnew/Envision-Website-Graphic.png" alt="Envision ARIES">
					</a>
				</div>

				<div class="row catalog">
					<div class="col-xs-6 col-md-7 col-lg-5">
						<img src="https://storage.googleapis.com/aries-website/ARIES-Exterior-Cover.png" alt="catalog" class="img-responsive">
					</div>
					<div class="col-xs-3 col-md-3 col-lg-7">
						<h3>2016 EXTERIOR
							<br>CATALOG</h3>
						<a class="red-transparent-button" href="https://storage.googleapis.com/aries-website/2016-Exterior-Catalog.pdf">DOWNLOAD</a>
					</div>
				</div>
				<div class="row catalog">
					<div class="col-xs-6 col-md-7 col-lg-5">
						<img src="https://storage.googleapis.com/aries-website/ARIES-Interior-Cover.png" alt="catalog" class="img-responsive">
					</div>
					<div class="col-xs-3 col-md-3 col-lg-7">
						<h3>2016 INTERIOR
							<br>CATALOG</h3>
						<a class="red-transparent-button" href="https://storage.googleapis.com/aries-website/2016-Interior-Catalog.pdf">DOWNLOAD</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12" ng-controller="PartController">
				<h3>FEATURED PRODUCTS</h3>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 featuredProducts">
					<div ng-repeat="p in featuredProducts | limitTo:5" class="featuredProd col-xs-12 col-md-2 col-5">
						<h4><a href="/part/[[p.part_number]]">[[p.short_description]]</a></h4>
						<a href="/part/[[p.part_number]]">
							<img ng-repeat="img in p.images | filter:{sort:'a'} | filter:{size:'Grande'} | limitTo:1" src="http://www.curtmfg.com[[img.path.Path]]" class="img-responsive" alt="Image for [[p.title]]" />
						</a>
						<hr class="visible-xs-block" />
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3>FROM OUR CUSTOMERS</h3>
				<div class="col-md-12 testimonials">
					<div ng-repeat="t in testimonials | limitTo:2" class="testimonial col-md-6">
						<h4>"[[t.title | uppercase]]"</h4>
						<p>[[t.content]]</p>
						<span class="customerName">- [[t.firstName | uppercase]] [[t.lastName | uppercase]], [[t.location | uppercase]]</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
