@import '../variables.scss';

.root {
    margin-left: auto;
    order: 2;

    .menuIcon {
        display: block;
        background: transparent;
        border: none;

        span {
            background-color: $white-base;
        }
    }

    > div {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 300;
        display: flex;
        width: 0;
        height: 0;
        flex-direction: column;
        background-color: rgba(1, 1, 1, .9);
        opacity: 0;
        transform: translateX(-100%);
        justify-content: flex-start;
        align-items: flex-start;

        &.open {
            width: auto;
            min-width: 300px;
            height: 100%;
            padding: 15px 10px 10px 20px;
            opacity: 1;
            transform: translateX(0);
        }

        > a {
            position: relative;
            display: block;
            padding: 12px 10px 10px;
            margin: 15px 25px;
            font-size: 18px;
            font-weight: 400;
            color: $white-base;
            text-align: left;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            outline: none;

            &:before, &:after {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 3px;
                content: '';
                background: $white-base;
                transition: transform .3s;
                transform: scale(.85);
            }

            &:after {
                opacity: 0;
                transition: top .3s, opacity .3s, transform .3s;
            }

            &:hover::before, &:hover::after {
                transform: scale(1);
            }

            &:hover::after {
                top: 0;
                opacity: 1;
            }
        }
    }

    ul {
        display: none;
    }
}

@media screen and (width >= $screen-md-min) {
    .root {
        padding: 0 20px;
        margin: 0;
        order: 3;

        .menuIcon {
            display: none;
        }

        > div {
            position: relative;
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: row;
            background-color: transparent;
            opacity: 1;
            transform: translateX(0);
            justify-content: space-around;
            align-items: center;

            > a {
                position: relative;
                display: block;
                padding: 0;
                margin: 10px;
                font-size: .72em;
                color: $white-base;
                text-align: center;
                text-decoration: none;
                text-shadow: 0 0 1px $white-base;
                letter-spacing: 1px;

                &:before, &:after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 65px;
                    height: 65px;
                    content: '';
                    background: transparent;
                    border: 2px solid rgba(0, 0, 0, .1);
                    border-radius: 50%;
                    opacity: 0;
                    transition: transform .3s, opacity .3s;
                    transform: translateX(-50%) translateY(-50%) scale(.2);
                }

                &:after {
                    width: 55px;
                    height: 55px;
                    border-width: 6px;
                    transform: translateX(-50%) translateY(-50%) scale(.8);
                }

                &:hover::before, &:hover::after {
                    top: 50%;
                    opacity: 1;
                    transform: translateX(-50%) translateY(-50%) scale(1);
                }
            }
        }
    }
}
