@import '../variables.scss';

.root {
	min-height: 75px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	background: $new-red;
	padding: 0;

	.logo {
		width: 200px;
		order: 1;
		> .brand {
			display: block;
			height: 100%;

			> img {
				width: 100%;
			}
		}
	}
}

@media screen and (width >= $screen-md-min) {
	.root {
		padding: 10px 0;
		flex-wrap: nowrap;

		.logo > .brand {
			padding: 0 15px;
		}

		.menuIcon {
			display: none;
		}
	}
}
