@import '../variables.scss';

.root {
	height: 75px;
	display: flex;
	flex-direction: row;
	background: $new-red;
	padding: 10px 0;

	.logo {
		width: 200px;
		> .brand {
			display: block;
			height: 100%;

			> img {
				width: 100%;
			}
		}
	}
}

@media screen and (width >= $screen-md-min) {
	.root {
		flex-direction: row;
	}
}
