<div class="part-container" ng-cloak>
							<div ng-class="litUp === true ? 'lightedBox' : 'lightbox'" ng-click="toggleInstallSheet()">
								<iframe src="[[getInstallSheet()]]" class="lightboxFrame"></iframe>
							</div>

	<div class="product-info container-fluid">
		<div class="container">
			<div class="top-container row">

				<div class="title-crumb-container visible-xs-block visible-sm-block" ng-if="part.categories.length > 0">
					<div class="breadcrumbs">
						<ol class="breadcrumb">
							<li ng-repeat="cat in part.categories.slice().reverse()">
								<a href="/category/[[cat.id]]">[[cat.title | uppercase]]</a>
							</li>
							<li class="active">Part# [[part.oldPartNumber]]</li>
						</ol>
					</div>
					<h1>[[part.short_description | uppercase]]</h1>
				</div>

				<div class="hidden-xs hidden-sm">
					<div class="product-details hidden-xs hidden-sm col-md-6 col-lg-6">
						<div class="hidden-xs crumb-container">
							<div class="breadcrumbs">
								<ol class="breadcrumb">
									<li ng-repeat="cat in part.categories.slice().reverse()">
										<a href="/category/[[cat.id]]">[[cat.title | uppercase]]</a>
									</li>
									<li class="active">Part# [[part.oldPartNumber]]</li>
								</ol>
							</div>
						</div>
						<div class="part-header">
							<h1 class="partShortDesc hidden-xs hidden-sm col-md-8 col-lg-8">[[part.short_description | uppercase]]</h1>
							<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 install-container" ng-if="getInstallSheet() !== ''">
								<!-- Install Sheet -->
								<div class="install-sheet" ng-click="toggleInstallSheet()">
									<a><span class="glyphicon glyphicon-new-window"></span>
										Install Sheet</a>
								</div>	
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="title-info col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
								<div class="part-num">
									<span class="small">PART #[[part.oldPartNumber]]</span>
								</div>
								<!-- MSRP -->
								<div class="msrp" ng-if="getPrice() !== ''">
									<span>MSRP [[getPrice()]]</span>
								</div>
							</div>
							<!-- Share Icons -->
							<div class="col-sm-5 col-xs-5 col-md-5 col-lg-5 share-icons pull-right">
								<div class="socialIcon">
									<a href="#Facebook" title="Share us on Facebook" ng-click='ShareFacebook()'>
										<img src="/assets/img/facebook-icon.png" alt="Facebook" />
									</a>
								</div>
								<div class="socialIcon">
									<a href="#Twitter" title="Tweet Us on Twitter" ng-click='ShareTwitter()'>
										<img src="/assets/img/twitter-icon.png" alt="Twitter" />
									</a>
								</div>
								<div class="socialIcon">
										<a href="#GooglePlus" title="Share Us on Google Plus" ng-click='ShareGoogle()'>
										<img src="/assets/img/googleplus-icon.png" alt="Google Plus" />
									</a>
								</div>
							</div>
						</div>

						<div class="part-content" ng-show="part.content">
							<div>
								<div ng-bind-html="renderHTML(getHTMLDesc())"></div>
							</div>

							<div class="clearfix"></div>
							<ul>
								<li ng-repeat="c in getBullets()">[[c]]</li>
							</ul>
						</div>
					</div>
					<div class="product-media hidden-xs hidde-sm col-md-6 col-lg-6">
						<div ng-if="(part.images | filter:{size:'Venti'}).length > 0">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div id="hero-image-carousel" class="carousel slide" data-ride="carousel">
									<div class="carousel-inner">
										<div ng-repeat="(i,img) in part.images | filter:{size:'Venti'}" class="[[(i === 0) ? 'item active':'item']]">
											<div class="carouselImg">
												<img class="largeImg img-responsive" src="http://[[img.path.Host]][[img.path.Path]]" />
											</div>
										</div>
									</div>
									<ol class="thumbs col-xs-12 col-md-12 col-lg-12">
										<li class="thumb" ng-repeat="i in part.images | filter:{size:'Venti'}" data-target="#hero-image-carousel" data-slide-to="[[$index]]">
											<img class="thumbImg img-responsive" src="http://www.curtmfg.com[[i.path.Path]]" />
										<li>
										<!-- <li class="thumb" ng-repeat="vid in part.videos" ng-click="shadowbox(vid, 'video')">
											<img class="thumbImg img-responsive" src="http://img.youtube.com/vi/[[vid.YouTubeVideoId]]/0.jpg" />
										</li> -->
									</ol>

									<a class="left carousel-control" href="#hero-image-carousel" role="button" data-slide="prev">
										<span class="glyphicon glyphicon-chevron-left"></span>
									</a>
									<a class="right carousel-control" href="#hero-image-carousel" role="button" data-slide="next">
										<span class="glyphicon glyphicon-chevron-right"></span>
									</a>
								</div>
							</div>
						</div>
					</div>	
				</div>
				
				<div class="visible-xs visible-sm">
					<div class="product-media col-xs-12 col-sm-12 visible-xs visible-sm">
						<div ng-if="(part.images | filter:{size:'Venti'}).length > 0">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div id="hero-image-carousel" class="carousel slide" data-ride="carousel">
									<div class="carousel-inner">
										<div ng-repeat="i in part.images | filter:{size:'Venti'}" class="item [[($last==true) ? 'active':'']]" ng-class="[[($first==true) ? 'active':'']]">
											<div class="carouselImg">
												<img class="largeImg img-responsive" src="http://[[i.path.Host]][[i.path.Path]]" />
											</div>
										</div>
									</div>
									<ol class="thumbs hidden-xs hidden-sm col-md-12 col-lg-12">
										<li class="thumb" ng-repeat="i in part.images | filter:{size:'Venti'}" data-target="#hero-image-carousel" data-slide-to="[[$index]]">
											<img class="thumbImg img-responsive" src="http://www.curtmfg.com[[i.path.Path]]" />
										</li>
										<!-- <li class="thumb" ng-repeat="vid in part.videos" ng-click="shadowbox(vid, 'video')">
											<img class="thumbImg img-responsive" src="http://img.youtube.com/vi/[[vid.YouTubeVideoId]]/0.jpg" />
										</li> -->
									</ol>
									<p class="mobile-help">Slide image to view more.</p>

									<a class="left carousel-control hidden-xs hidden-sm" href="#hero-image-carousel" role="button" data-slide="prev">
										<span class="glyphicon glyphicon-chevron-left"></span>
									</a>
									<a class="right carousel-control hidden-xs hidden-sm" href="#hero-image-carousel" role="button" data-slide="next">
										<span class="glyphicon glyphicon-chevron-right"></span>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="product-details col-xs-12 col-sm-12 visibile-xs visibile-sm">
						<div class="hidden-xs crumb-container">
							<div class="breadcrumbs">
								<ol class="breadcrumb">
									<li ng-repeat="cat in part.categories.slice().reverse()">
										<a href="/category/[[cat.id]]">[[cat.title | uppercase]]</a>
									</li>
									<li class="active">Part# [[part.oldPartNumber]]</li>
								</ol>
							</div>
						</div>
						<div class="part-header">
							<h1 class="partShortDesc hidden-xs hidden-sm col-md-9 col-lg-9">[[part.short_description | uppercase]]</h1>
							<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 install-container" ng-if="getInstallSheet() !== ''">
								<!-- Install Sheet -->
								<div class="install-sheet">
									<a ng-href="[[getInstallSheet()]]" target="_blank" title="Installation Sheet">
										<span class="glyphicon glyphicon-new-window"></span>
										Install Sheet
									</a>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="title-info col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="col-xs-6 col-sm-6 col-md-9 col-lg-9">
								<div class="part-num">
									<span class="small">PART #[[part.oldPartNumber]]</span>
								</div>
								<!-- MSRP -->
								<div class="msrp" ng-if="getPrice() !== ''">
									<span>MSRP [[getPrice()]]</span>
								</div>
							</div>
							<!-- Share Icons -->
							<div class="col-sm-6 col-xs-6 col-md-6 col-lg-6 share-icons pull-right">
								<div class="socialIcon">
									<a href="#Facebook" title="Share us on Facebook" ng-click='ShareFacebook()'>
										<img src="/assets/img/facebook-icon.png" alt="Facebook" />
									</a>
								</div>
								<div class="socialIcon">
									<a href="#Twitter" title="Tweet Us on Twitter" ng-click='ShareTwitter()'>
										<img src="/assets/img/twitter-icon.png" alt="Twitter" />
									</a>
								</div>
								<div class="socialIcon">
										<a href="#GooglePlus" title="Share Us on Google Plus" ng-click='ShareGoogle()'>
										<img src="/assets/img/googleplus-icon.png" alt="Google Plus" />
									</a>
								</div>
							</div>
						</div>

						<div class="part-content" ng-show="part.content">
							<div>
								<div ng-bind-html="renderHTML(getHTMLDesc())"></div>
							</div>

							<div class="clearfix"></div>
							<ul>
								<li ng-repeat="c in getBullets()">[[c]]</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="product-more container-fluid">
		<div class="container">
			
			<div ng-if="(((part.content | filter:{key:'Bullet'}).length) + ((part.attributes | filter:{key:'!' + 'UPC'}).length) > 0 || getCategoryBrief() !== '')" class="prod-details-more col-xs-12 col-sm-12 col-md-7 col-lg-7">
				<div class="col-lg-12">
					<h3>MORE DETAILS</h3>
					
					<div>
						<div ng-bind-html="renderHTML(getCategoryBrief())"></div>
					</div>

					<div class="part-bullets col-xs-12 col-sm-6 col-md-6 col-lg-6">	
						<ul>
							<li ng-repeat="c in part.content | filter:{key:'Bullet'}" ng-bind-html="renderHTML(c.text)"></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="prod-attributes col-xs-12 col-sm-12 col-md-4 col-lg-4 col-lg-offset-1 col-md-offset-1" ng-if="part.attributes.length > 0">
				<h3>Technical Details</h3>
				<div ng-repeat="attr in part.attributes | orderBy:'key'" class="row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<p class="field">[[attr.key]]</p>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
						<p class="value">[[attr.value]]</p>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>

			<div class="video-container col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="part.videos.length > 0">
				<h3>VIDEOS</h3>
				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 videoDiv" ng-if="vid.channels.length > 0" ng-repeat="vid in part.videos">
					<div class="ytVideoWrapper" ng-bind-html="renderYouTube(vid)"></div>
				</div>
			</div>


			<!--div class="application col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h3>APPLICATION</h3>
				<p><strong>Available for:</strong> Various Vehicles. Check out our Application Guides to see what fits your vehicle.</p>
				<div class="vehicle" ng-if="vehicles.length > 0">
					<table class="responsiveTable applicationsTbl">
						<thead>
							<tr>
								<th>Year</th>
								<th>Make</th>
								<th>Model</th>
								<th>Sub Model</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="v in vehicles | orderBy:['year','make','model','submodel']">
								<td class="year">[[v.year]]</td>
								<td class="make">[[v.make]]</td>
								<td class="model">[[v.model]]</td>
								<td class="submodel">[[v.submodel]]</td>
							</tr>
						</tbody>
					</table>
				</div>
				<span class="application-guide-link"><a href="/appguides">VIEW APPLICATION GUIDES</a></span>
			</div-->

			<hr />

			<div class="accessories">
				<h3>YOU MAY ALSO LIKE</h3>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 featuredProducts">
					<div ng-repeat="p in featuredProducts | limitTo:5" class="featuredProd col-xs-12 col-md-3 col-5">
						<h4><a href="/part/[[p.oldPartNumber]]">[[p.short_description]]</a></h4>
						<a href="/part/[[p.oldPartNumber]]"><img ng-repeat="img in p.images | filter:{sort:'a'} | filter:{size:'Grande'} | limitTo:1" src="http://www.curtmfg.com[[img.path.Path]]" class="img-responsive" alt="Image for [[p.title]]" /></a>
						<hr class="visible-xs-block" />
					</div>
				</div>
			</div>


		</div><!-- End of White Background Area -->
		<br />
	</div>
</div>
