<div class="product row well" ng-repeat="p in parts">
	<!-- Products -->
	<div class="product-header">
		<span class="product-desc">
			<a href="/part/[[p.part_number]]">[[p.short_description | uppercase]]
				<span class="product-id">[[p.part_number]]</span>
			</a>
		</span>
	</div>

	<!-- Image -->
	<div class="product-image col-xs-12 col-sm-12 col-md-3 col-lg-2">
		<div ng-if="p.images.length > 1">
			<img ng-repeat="img in p.images | filter:{size:'Grande'} | limitTo:1" src="http://www.curtmfg.com[[img.path.Path]]" class="img-responsive" alt="Image for [[p.title]]" />
		</div>
		<div ng-if="!p.images">
			<img class="img-responsive" src="/assets/img/partImgPlaceholder.jpg" alt="Image for [[p.title]]" />
		</div>
	</div>

	<div class=" col-xs-12 col-sm-12 col-md-7 col-lg-8 col-offset-md-1 col-offset-lg-1">
		<!-- Price -->
		<div class="product-price" ng-repeat="price in p.pricing | filter:{type:'List'} | limitTo:1" ng-if="price.price > 0">
			<span class="msrp">MSRP <span class="price">[[price.price | currency]]</span></span>
		</div>

		<!-- Attributes -->
		<div class="product-attr">
			<!-- <span class="title">Details:</span> -->
			<ul>
				<li ng-repeat="attr in p.attributes | orderBy:'key'"><strong>[[attr.name]]:</strong> [[attr.value]]</li>
			</ul>
		</div>
	</div>
	<div class="product-nav col-xs-12 col-sm-12 col-md-7 col-lg-8 col-offset-md-1 col-offset-lg-1">
		<div>
			<button class="btn red-transparent-button view-parts-button">
				<a href="/buy" aria-controls="Where to buy" role="button" data-toggle="tab">Where To Buy</a>
	        </button>
	        <button class="btn red-transparent-button view-parts-button">
				<span><a href="/part/[[p.part_number]]" aria-controls="Part details" role="button" data-toggle="tab">View Details</a></span>
	        </button>
        </div>
	</div>
</div>
