@import '../classes.scss';

.root {
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    box-shadow: 2px 2px 2px $gray-lighter;
    justify-content: space-around;
    align-items: center;

    > a {
        position: relative;
        padding: 10px;
        font-size: 1.1em;
        color: $lookup-color;
        text-decoration: none;
        letter-spacing: .035em;
        background: $new-red;
        border: 1px solid $new-red;
        border-right-color: $gray-darker;
        flex: 100%;

        > span:first-child {
            padding-right: 5px;
        }

        &:hover {
            color: $new-red;
            border-color: $off-white;

            &::after {
                z-index: 1;
                height: 100%;
            }

            > span {
                position: relative;
                z-index: 2;
                color: $new-red;
            }
        }

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 0;
            content: '';
            background: $off-white;
            transition: all .3s;
        }

        &:last-child {
            border-right-color: $new-red;
        }
    }
}
