@import '../classes.scss';

.top {
    h1 {
        margin-top: 0;
        text-transform: uppercase;
    }
}

.images {
    padding: 10px;
}

.breadcrumb {
    padding-bottom: 9px;
    padding-left: 0;
    margin-bottom: 0;
    background-color: transparent;

    li + li:before {
        font-weight: 400;
        color: $header-color;
        content: ">\00a0";
    }

    li {
        font-size: 14px;
        font-weight: 900;
        color: $header-color;
        text-transform: uppercase;

        a, a.active {
            font-style: normal;
            font-weight: 400;
            color: #666;
            text-decoration: underline;
        }

        a:hover {
            color: #888;
        }
    }
}

.linkContainer {
    padding: 0;

    .partNum {
        span:first-child {
            padding: 0;
            margin-right: 10px;
            font-size: 20px;
            font-weight: 900;
            color: $header-color;
        }
    }

    .shareIcons {
        margin: 10px 0;

        a {
            display: inline-block;
            width: 35px;
            height: 35px;
            margin: 0 1px;
            line-height: 40px;

            img {
                width: 100%;
                height: 100%;
                transform: scale(.9);
            }

            &:hover {
                img {
                    transform: scale(1);
                }
            }
        }
    }
}

.installContainer {
    padding: 0;
    margin: 5px 0;

    .installSheet {
        margin: 5px 0;

        a {
            display: block;
            min-width: 115px;
            padding: 0 3px;
            margin: 0 2px;
            font-size: 12px;
            text-align: center;
            text-transform: uppercase;
            border: 2px solid $new-red;

            span {
                margin-right: 5px;
                font-size: 12px;
                vertical-align: baseline;
            }
        }
    }

    &.mobile {
        display: flex;
        margin: 25px 0;

        justify-content: space-between;

        > div {
            width: 30%;

            a {
                padding: 10px 5px;
            }
        }
    }
}

:global .carousel {
    max-width: 450px;
    box-shadow: 1px 0 10px -2px #ccc;

    .carouselInner .item {
        background: none;
    }
}

:global .carousel-control.left, :global .carousel-control.right {
    background: none;
}

:global .carousel-control .glyphicon {
    color: $header-color;
}

.carouselImg {
    max-width: 450px;
    max-height: 450px;
}

.thumbs {
    max-width: 450px;
    min-height: 80px;
    padding: 10px 0 0 0;
    margin-bottom: 0;
    list-style: none;

    .thumb {
        display: inline-block;
        width: 50%;
        padding: 0;
        padding-right: 10px;
        overflow: hidden;
        list-style: none;
        cursor: pointer;

        img {
            width: 100%;
            height: 100%;
            box-shadow: 1px 0 10px 2px #ccc;
        }
    }

    .videoThumb {
        position: relative;
        height: 100px;

        div {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
            background: black;

            img {
                height: 70px;
                margin: 15px 0;
                box-shadow: none;
            }
        }

        .arrow {
            position: absolute;
            top: 40px;
            left: 35px;
            z-index: 10;
            display: block;
            width: 30px;
            height: 20px;
            background-color: #ce1e1e;
            border-radius: 12px/5px;
        }

        .arrowRight {
            position: absolute;
            top: 6px;
            left: 14px;
            z-index: 11;
            display: block;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid #eee;
        }
    }
}

.bottom {
    background-color: $white-base;

    .more {
        padding-left: 0;

        > div {
            padding-left: 0;
        }
    }

    .attributes {
        h3 {
            text-transform: uppercase;
        }

        .field {
            font-size: 16px;
            font-weight: bold;
            text-align: right;
        }

        .value {
            font-size: 14px;
        }
    }
}

.applications {
    margin: 15px 0;

    .vehicle {
        margin-bottom: 0;
        font-size: 18px;

        .applicationsTbl {
            text-transform: capitalize;
        }
    }

    .appguideLink {
        display: block;
        margin-top: 10px;
        font-size: 18px;
        color: $alt-red;
    }
}

.responsiveTable {
    width: 100%;
    border-collapse: collapse;
    /* Zebra striping */

    tr:nth-of-type(odd) {
        background: #eee;
    }

    th {
        font-weight: bold;
        color: white;
        background: #333;
    }

    td, th {
        padding: 2px;
        text-align: left;
        border: 1px solid #ccc;
    }

    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
/* Force table to not be like tables anymore */

table, thead, tbody, th, td, tr {
    display: block;
}/* Hide table headers (but not display: none;, for accessibility) */

thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

tr {
    border: 1px solid #ccc;
}

td {
    position: relative;
    min-height: 30px;
    padding-left: 50%;
    line-height: 25px;
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #e1e1e1;
        }

        td:before {
/* Now like a table header */
position: absolute;
            /* Top/left values mimic padding */
            top: 2px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }
    }
}

.loading {
    text-align: center;
}

// shadowbox
.shadowBackground {
    display: relative;
}

.videoModal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 19;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    iframe {
        position: fixed;
        top: 25%;
        left: 0;
        z-index: 20;
        width: 100%;
        height: 50%;
    }
}

@media (min-width: $screen-md-min) {
    .thumbs {
        .thumb {
            width: 25%;
        }
    }

    .installSheet {
        line-height: 40px;
    }
    .videoModal {
        iframe {
            top: 25%;
            left: 30%;
            width: 40%;
            height: 50%;
        }
    }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .applicationsTbl {
        td:nth-of-type(1):before {
            font-weight: 900;
            content: "Year";
        }

        td:nth-of-type(2):before {
            font-weight: 900;
            content: "Make";
        }

        td:nth-of-type(3):before {
            font-weight: 900;
            content: "Model";
        }

        td:nth-of-type(4):before {
            font-weight: 900;
            content: "Style";
        }
    }
}
