@import '../variables.scss';

.root {
	width: 100%;

	form {
		width: 100%;
		box-shadow: none;
	}

	label {
		display: none;
	}

	.group {
		margin-right: 10px;
		width: 150px;

		input {
			font-family: $font-family-base;
			font-size: 16px;
			height: 24px;
			margin-right: 5%;
			width: 90%;
		}

	}

	button[type=submit] {
		border-color: $new-red;
		width: 15%;

		.nodisplay {
			display: none;
		}
	}
}

@media(min-width: $screen-md-min) {
	.root .group {
		width: 200px;
	}
}

@media(min-width: $screen-lg-min) {
	.root .group {
		width: 80%;
	}
}
