@import '../variables.scss';

.root {
	width: 100%;

	form {
		width: 100%;
		box-shadow: none;
	}

	label {
		display: none;
	}

	.group {
		width: 150px;
		margin-right: 10px;

		input {
			width: 90%;
			height: 24px;
			margin-right: 5%;
			font-family: $font-family-base;
			font-size: 16px;
		}
	}

	button[type=submit] {
		width: 15%;
		font-size: 18px;
		color: $white-base;
		background-color: $new-red;
		border-color: $new-red;
		transition: color .2s ease-in;

		&:hover {
			color: $black-base;
		}

		.nodisplay {
			display: none;
		}
	}
}

@media(min-width: $screen-md-min) {
	.root .group {
		width: 200px;
	}
}

@media(min-width: $screen-lg-min) {
	.root .group {
		width: 80%;
	}
}
