@import '../variables.scss';
@import '../classes.scss';

.root {
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: top;
    text-transform: uppercase;
	margin: 50px auto;

	> a {
		padding: 25px 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-decoration: none;

		> div {
			text-align: center;
		}
	}
}

@media (min-width: $screen-md-min) {
	.root {
		flex-direction: row;
	}
}
