@import '../variables.scss';
@import '../classes.scss';

.root {
  display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: top;
  text-transform: uppercase;
	margin: 50px auto;
	margin-top:10px;

	> a {
		padding: 25px 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		text-decoration: none;

		> div {
			text-align: center;
		}
	}

	a:first-child:nth-last-child(1) {
		/* Center catalogs when there is only one */
		width: 100%;
		img {
			max-height:375px;
		}
	}
}

@media (min-width: $screen-md-min) {
	.root {
		flex-direction: row;
	}
}
