@import '../variables.scss';
@import '../classes.scss';

.hero {
	background-image: url('http://storage.googleapis.com/aries-website/hero-images/truck.png');
}

.addresses {
	.addressname {
		font-weight: 800;
	}

	.supportLocation, .mainLocation {
		padding: 1em;
		background-color: $lookup-color;
		border-radius: 3px;
	}

	.mainLocation {
		.addressname {
			float: left;
			width: 100%;
		}
		.mailing, .physical {
			float: left;
			width: 50%;
			padding-top: 1em;
		}
		.physical {
			clear: both;
		}
		.mainTelephone {
			padding-top: 1em;
			clear: both;
		}
	}
	.techsupport {
		text-align: center;
	}
}
