@import '../../classes.scss';
@import '../../variables.scss';

.root {
	display: inline-block;
	min-height: 400px;
	background-color: $white-base;

	.categoryName {
		padding: 0;
		margin: 0 0 .4em 0;
		text-align: center;
	}
	.selTopBar {
		float: left;
		margin-right: 15px;
		font-size: 22px;
	}
	.partResults {
		clear: both;
	}
	.clearfix {
		width: 100%;
		clear: both;
	}
	.greybox {
		width: 85%;
		padding: 1em 0;
		margin: 1em auto 1em auto;
		background-color: $lookup-color;
		border: 1px solid $gray-lighter;
		border-radius: 6px;
		.selTopBar, .styleSelect {
			display: inline-block;
			width: 45%;
		}
		.select {
			margin-top: 2em;
		}
		.styleButton {
			padding: .6em;
			font-size: 1.4em;
			font-weight: 600;
		}
		.styleChoices {
			display: inline-block;
			width: auto;
			padding: 1em;
			margin: .4em;
			background-color: $white-base;
			border: 1px solid $gray-lighter;
			border-radius: 6px;
			ul {
				padding: 0;
				margin: 0;
				list-style-type: none;
			}
		}
	}
	.noParts {
		clear: both;
		text-align: center;
	}
}

@media(min-width: $screen-md-min) {
	.root {
		float: right;
		width: 70%;
		padding: 1em 4em;
		overflow: inherit;
		.categoryName {
			text-align: left;
		}
		.greybox {
			width: 100%;
			padding: 2em 2em 2em 2em;
			margin: 0 0 1em 0;
		}
		.partResults {
			max-width: 100%;
		}
	}
}
