@import '../../classes.scss';
@import '../../variables.scss';

.root{
	display: inline-block;
	background-color: $white-base;
	min-height: 400px;

	.categoryName {
		padding: 0;
		margin: 0 0 .4em 0;
		text-align: center;
	}
	.selTopBar {
		font-size: 22px;
		float:left;
		margin-right: 15px;
	}
	.partResults{
		clear: both;
	}
	.clearfix{
		width: 100%;
		clear: both;
	}
	.greybox{
		background-color: $lookup-color;
		padding: 1em 0;
		width: 85%;
		margin: 1em auto 1em auto;
		border: 1px solid $gray-lighter;
		border-radius: 6px;
		.selTopBar, .styleSelect {
			padding: 0 2em;
		}
		.select{
			margin-top: 2em;
		}
		.styleButton{
			font-weight: 600;
			font-size: 1.4em;
			padding: .6em;
		}
		.styleChoices{
			ul{
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			background-color: $white-base;
			width: auto;
			border: 1px solid $gray-lighter;
			border-radius: 6px;
			padding: 1em;
			display: inline-block;
			margin: .4em;
			float: right;
		}
	}
	.noParts {
		text-align: center;
		clear: both;
	}
}

@media(min-width: $screen-md-min) {
	.root {
		width: 70%;
		padding: 1em 4em;
		overflow: inherit;
		float:right;
		.categoryName {
			text-align: left;
		}
		.greybox{
			padding: 2em 2em 2em 2em;
			margin: 0 0 1em 0;
			width: 100%;
		}
		.partResults {
			max-width: 100%;
		}
	}
}
