@import '../variables.scss';

.root {
	background: $new-red;
	color: $white-base;
}

.container {
	margin: 0 auto;
	padding: 0;
}

.brand {
	height: 100%;
	padding: 0 15px;

	img {
		height: 50px;
	}
}

.collapse span {
	background-color: $white-base;
}

.phoneNum {
	border-left: 1px solid $header-color;
	box-shadow: inset 1px 0 0 $new-red;
	height: 80px;
	margin-top: -15px;
	min-height: 100%;
	padding: 15px;

	a {
		color: #ABABAB;
		font-family: "ff-good-headline-web-pro-con",sans-serif;
		font-size: 16px;
		line-height: 45px;
		text-decoration: none;

		&:hover,
		&:visited,
		&:focus {
			color: #D4D4D4;
		}
	}
}

@media(min-width: $screen-md-min) {
	.container {
		padding: 15px 0 0;
	}
}

@media(min-width: $screen-lg-min) {
	.container {
		height: 80px;

		.phoneNum a {
			font-size: 20px;
		}
	}
}
