@import '../variables.scss';

.root {
	color: $white-base;
	background: $new-red;
}

.container {
	padding: 0;
	margin: 0 auto;
}

.mobileContainer {
	height: 40px;
	padding: 0;
	margin: 5px 0;
}

.brand {
	height: 100%;
	padding: 0;

	img {
		height: 50px;
	}
}

.collapse {
	margin-right: 0;

	span {
		background-color: $white-base;
	}
}

.phoneNum {
	height: 80px;
	min-height: 100%;
	padding: 15px;
	margin-top: -15px;
	border-left: 1px solid $header-color;
	box-shadow: inset 1px 0 0 $new-red;

	a {
		font-family: "ff-good-headline-web-pro-con",sans-serif;
		font-size: 16px;
		line-height: 45px;
		color: #ababab;
		text-decoration: none;

		&:hover,
		&:visited,
		&:focus {
			color: #d4d4d4;
		}
	}
}

@media(min-width: $screen-md-min) {
	.container {
		padding: 15px 0 0;
	}
}

@media(min-width: $screen-lg-min) {
	.container {
		height: 80px;

		.phoneNum a {
			font-size: 20px;
		}
	}
}
