@import '../variables.scss';

.root {
    position: relative;
    z-index: 110;
    box-shadow: 0 10px 6px -6px $gray-dark;
}

@media (min-width: $screen-md-min) {
}

@media (min-width: $screen-lg-min) {
}
