@import '../variables.scss';
@import '../classes.scss';

.root {
    display: flex;
    flex-direction: column;
	justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
	padding: 15px 10px;
}


@media (min-width: $screen-md-min) {
    .root {
		flex-direction: row;
		flex-wrap: wrap;
    }
}
