@import '../variables.scss';
@import '../classes.scss';

.root {
	display: flex;
	width: 100%;
	padding: 15px 10px;
	flex-direction: row;

	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

@media (min-width: $screen-md-min) {
	.root {
		justify-content: flex-start;
	}
}
