@import '../../variables.scss';

.transitionEnter {
	opacity: 0.01;
}

.transitionEnterActive {
	opacity: 1;
	transition: opacity 4.5s ease-in;
}

.root{
    background-color: $white-base;
    border: 0;
    box-shadow: none;
    width: 100%;
    z-index: 101;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height: 51px;
    padding: 0;

    .nodisplay,
    label {
        display: none;
    }

    .group {
        width: 100%;
        padding: 0;
        margin: 0;
        height: 100%;

        input {
            font-family: $font-family-base;
            font-size: 16px;
            height: 100%;
            margin: 0;
            width: 96%;
            padding: 0 2%;
            border: 0;
        }
    }

    button[type=button] {
        color: $gray-light;
        padding: 0;
        position: absolute;
        right: 70px;
        top: 5px;
        width: 40px;

        span {
            line-height: 40px;
        }
    }

    button[type=submit] {
        color: $alt-red;
        position: absolute;
        top: 5px;
        right: 0;

        .searchIcon {
            font-size: 20px;
            line-height: 40px;
            vertical-align: bottom;
        }
    }
}

.overlay {
    z-index: 100;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media(min-width: $screen-md-min) {
	.root .group {
		width: 200px;
	}
}

@media(min-width: $screen-lg-min) {
	.root .group {
		width: 80%;
	}
}
