<div class="aboutus-container">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-md-6 col-lg-6">
				<h1>ABOUT</h1>

				<h3>CONTINUALLY RAISING THE BAR SINCE 1997</h3>

				<p>Aries Automotive has been providing unparalleled aftermarket products with reliable service for 16 years. We've grown year after year by producing the latest designs in tublar steel, rubber, and ABS plastic products.</p>

				<p>In addition, we have increased our customer support by providing operations throughout North America: Southern California, Mid Texas, Colorado, Georgia, Indiana, Pennsylvania, British Columbia & Ontario, Canada. This has enabled us to meet the increasing demands for our products and allow for on time delivery at competitive prices.</p>

				<p>When Searching for the latest application, or simply a top quality automotive aftermarket product, Call on Aries Automotive.</p>
			</div>
			<div class="col-xs-6 col-md-6 col-lg-6">

			</div>
		</div>
	</div>
</div>