<div class="home-container">
	<div class="hero-image">  
	    <img src="/img/truck.png">
	    <div class="hero-image-inner">   
	        <p>
	        	<h1>A NEW ERA OF GRILL GUARDS IS HERE</h1>
	        	<button class="pull-right red-transparent-button">
	        		VIEW PRO SERIES
	        	</button>
	        </p>   
	    </div>  
	</div>  
	<div class="container">
		<div class="row">
		  <div class="col-md-6 col-lg-6">
		  	<h3>HEADLINE ABOUT WHAT ARIES OFFERS CUSTOMERS MIGHT WRAP</h3>
		  	<p>
		  	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
		  	</p>
		  </div>
		  <div class="col-md-6 col-lg-6">
		  	<row class="row">
		  		<div class="col-xs-6 col-md-7 col-lg-5">
		  			<img src="/img/catalog.png" alt="catalog" class="img-responsive">
		  		</div>
		  		<div class="col-xs-3 col-md-3 col-lg-7">
		  			<h3>{{CurrentYear}}<br>CATALOG</h3>
		  			<button class="red-transparent-button">DOWNLOAD</button>
		  		</div>
		  	</row>
		  </div>
		</div>
	</div>
</div>