<div class="vehicle-desc-container" ng-if="valid_vehicle">
	<a href="/vehicle" class="vehicle-desc">[[vehicle_string]]</a>
	<a class="red-transparent-button" ng-click="clearVehicle()">Change</a>
	<div class="clearfix"></div>
</div>

<div ng-if="!valid_vehicle">
	<a ng-click="showLookup()" class="lookup-heading">
		Vehicle Lookup
		<img src="/assets/img/arrow.png" class="expansion-arrow" alt="Expand">
		<div class="clearfix"></div>
	</a>

	<form ng-submit="submitVehicle()" class="lookup ehicle-data form-inline">
		<div class="form-group">
			<select class="form-control" ng-model="vehicle.collection" ng-options="col as (col | uppercase) for col in collections">
				<option value="">- Select Category -</option>
			</select>
		</div>
		<div class="form-group">
			<select class="form-control" ng-model="vehicle.year" ng-options="year as year for year in years">
				<option value="">- Select Year -</option>
			</select>
		</div>
		
		<div class="form-group">
			<select class="form-control" ng-model="vehicle.make" ng-options="make as (make | uppercase) for make in makes">
				<option value="">- Select Make -</option>
			</select>
		</div>
		<div class="form-group">
			<select class="form-control" ng-model="vehicle.model" ng-options="model as (model | uppercase) for model in models">
				<option value="">- Select Model -</option>
			</select>
		</div>
		<div class="form-group">
			<select class="form-control" ng-model="vehicle.style" ng-if="styles.length > 0" ng-options="style as (style | uppercase) for style in styles">
				<option value="">- Select Style -</option>
			</select>
		</div>
		
		<button type="submit" class="btn red-transparent-button view-parts-button" ng-disabled="vehicle.year === '' || vehicle.make === '' || vehicle.model === ''">
			View Parts
		</button>
		<!--
		<a href="/iconfig" class="btn red-transparent-button iconfig-button">
			Visual Configurator
		</a>
		-->

	</form>
</div>
<div class="clearfix"></div>
