@import '../variables.scss';

.root {
    width: 100%;
    padding: 15px 0 0;
    margin: 0;
    font-family: "proxima-nova-condensed", sans-serif;
    color: $footer-color;
    background: url('/img/footerBackground.png');

    h4 {
        color: $white-base;
    }

    address {
        .phoneNumber {
            margin: 10px 0;
        }

        .phone {
            margin-left: 5px;
            font-size: 20px;

            a {
                color: $footer-color;
            }

            a:hover {
                color: $gray-light;
                text-decoration: none;
            }
        }
    }
}


.brandsIcons{
	list-style: none;
	padding-left:0px;
	margin-left:-106px;
}

.brandItem>a>.fadeContainer{
	width:106px;
	height: 36px;
}

.groupLogoItem{
	margin-right:25px;
}

.groupLogo{
	height:35px;
	border-right:2px solid #444444;
	padding-right:20px;
}

.brandItem{
	margin-top:0px;
	display:inline-block;
	margin-left:15px;
}

.brand {
	margin-bottom:30px;
}

.brand>a>img {
	margin-bottom:8px;
}

.fadeContainer{
	position:relative;
}

.fadeContainer img {
	position:absolute;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

.fadeContainer img.top:hover {
	opacity:0;
}

.brandLink{
	font-size:20px;
	font-weight:bold;
	text-decoration:underline;
	padding-left:10px;
}

.container {
    padding: 20px 15px;
    margin: 0 auto;
		padding-bottom:0px;
}

.brandsContainer{
	padding:0px;
	text-align:center;
}

.feedbackcontainer{
	opacity: .5;
	background: #fff;
	position: fixed;
	bottom: 5%;
	right: 5%;
	z-index: 99999;
	padding-top: 12px;
	padding-bottom: 8px;
	padding-left: 12px;
	width: 160px;
	color: $new-red;
	font-size: 16px;
	font-weight: 700;
	border: 2px solid $new-red;
	box-shadow: 1px 0 10px 2px #c7c7c7;
	cursor: pointer;
}
.feedbackcontainer:hover{
	-webkit-transition: opacity .3s ease-in;
	-moz-transition: opacity .3s ease-in;
	-o-transition: opacity .3s ease-in;
	opacity:1;
}
.feedbackGlyphContainer{
	font-size: 30px;
  float: left;
  padding-top: 5px;
  padding-right: 10px;
}
.feedbackTextContainer{
	text-align:left;
}

.container {
    padding: 20px 15px;
    margin: 0 auto;
}

.semaLogo {
    margin-top: 10px;
}
.jiraFeedbackContainer {
	font-size: 18px;

	a {
			padding: 0;
	}

	a:hover {
			color: #ccc;
			background: none;
			text-decoration:none;
	}
}

.footerNav {
    padding: 0 0;

    ul {
        li {
            padding: 0;
            padding-top: 4px;
            font-size: 18px;

            a {
                padding: 0;
            }

            a:hover {
                color: #ccc;
                background: none;
            }
        }
    }
}
.footerclear{
	height:1px;
}

.footerLogo {
    width: 200px;
    max-height: 110px;
}

.addressInfo {
    font-size: 18px;

    span:last-child {
        margin-left: 5px;
    }
}

.addressName {
    font-size: 18px;
    font-weight: 700;
}

.conditions {
    font-size: 16px;

    .terms {
        text-decoration: underline;
        color: $footer-color;
    }

    a:hover {
        color: #666;
    }
}

.social {
    padding-left: 0;

    h4 {
        padding-left: 15px;
    }
}
