<footer>
    <div class="container">
        <div class="row footer-outter-row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <h4>REACH US</h4>
                <address itemscope itemtype="//schema.org/Organization">
                    <div>
                        <div class="phone-number-div">
                            <img src="/assets/img/phone.png" alt="phone image">
                            <span class="phone-text">
                                CALL
                                <a itemprop="telephone" href="tel:+18888002743" title="Call Us (888) 800-2743">
                                    (888) 800-2743
                                </a>
                            </span>
                        </div>
                        <span itemprop="name" class="addressName">Aries Automotive</span>
                        <div class="addressInfo" itemprop="address" itemscope itemtype="//schema.org/PostalAddress">
                            <span itemprop="streetAddress">23935 Madison St., Unit B</span>
                            <br>
                            <span itemprop="addressLocality">Torrance,</span>
                            <span itemprop="addressRegion">CA</span>
                            <span itemprop="postalCode">90505</span>
                        </div>
                    </div>
                </address>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 footerNav">
                <ul class="nav">
                    <li><a href="/about" title="About Us">ABOUT</a></li>
                    <li><a href="/appguides" title="Application Guides">APPLICATION GUIDES</a></li>
                    <li><a href="/becomedealer" title="Become a Dealer">BECOME A DEALER</a></li>
                    <li><a href="http://curt-dealers.appspot.com?brand=3" title="Dealer Login">DEALER LOGIN</a></li>
                    <li><a href="/buy" title="Where To Buy">WHERE TO BUY</a></li>
                    <li><a href="http://orders.ariesautomotive.com" title="COMNET Order Portal">COMNET</a></li>
                    <li><a href="/techsupport" title="Technical Support">TECH SUPPORT</a></li>
                    <li><a href="/warranties" title="Online Warranties">ONLINE WARRANTIES</a></li>
                    <li><a href="/contact" title="Contact Us">CONTACT</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-3">
                <div class="row col-lg-10 col-md-10 col-xs-8 social">
                    <h4 class="hidden-xs hidden-sm">GET THE LATEST</h4>
                    <div class="col-xs-12 col-md-12 col-lg-12">
                        <a href="https://www.facebook.com/pages/Aries-Automotive-Inc/113778149023" title="Visit us on Facebook">
                            <img src="/assets/img/facebook-icon.png" alt="Facebook Logo">
                        </a>
                        <a href="https://twitter.com/ariesautomotive" title="Visit us on Twitter">
                            <img src="/assets/img/twitter-icon.png" alt="Twitter Logo">
                        </a>
                        <a href="http://www.youtube.com/user/AriesAutomotive" title="Visit us on YouTube">
                            <img src="/assets/img/youtube-icon.png" alt="YouTube Logo">
                        </a>
                    </div>
                </div>
                <div class="row col-lg-2 col-md-2 col-xs-4">
                    <div class="sema-logo-div">
                        <a href="http://www.sema.org" title="SEMA Website">
                            <img src="/assets/img/sema-logo.png" alt="SEMA Logo">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-4">
                <img src="/assets/img/footer-logo.png" alt="Aries Automotive" class="img-responsive footerLogo">
                <div class="clearfix">&nbsp;</div>
                <br>
                <span class="conditions">&copy; 1997 - [[getYear()]] ARIES AUTOMOTIVE <a href="/terms" class="terms">TERMS & CONDITIONS</a></span>
            </div>
        </div>
    </div>
</footer>
