@import '../variables.scss';

.root {
    width: 100%;
    padding: 15px 0 0;
    margin: 0;
    font-family: "proxima-nova-condensed", sans-serif;
    color: $footer-color;
    background: url('/img/footerBackground.png');

    h4 {
        color: $white-base;
    }

    address {
        .phoneNumber {
            margin: 10px 0;
        }

        .phone {
            margin-left: 5px;
            font-size: 20px;

            a {
                color: $footer-color;
            }

            a:hover {
                color: $gray-light;
                text-decoration: none;
            }
        }
    }
}

.container {
    padding: 20px 15px;
    margin: 0 auto;
}

.semaLogo {
    margin-top: 10px;
}

.footerNav {
    padding: 0 0;
    padding-bottom: 70px;

    ul {
        li {
            padding: 0;
            padding-top: 4px;
            font-size: 18px;

            a {
                padding: 0;
            }

            a:hover {
                color: #ccc;
                background: none;
            }
        }
    }
}

.footerLogo {
    width: 200px;
    max-height: 110px;
}

.addressInfo {
    font-size: 18px;

    span:last-child {
        margin-left: 5px;
    }
}

.addressName {
    font-size: 18px;
    font-weight: 700;
}

.conditions {
    font-size: 16px;

    .terms {
        text-decoration: underline;
    }

    a:hover {
        color: #666;
    }
}

.social {
    padding-left: 0;

    h4 {
        padding-left: 15px;
    }
}
