.category{
	font-size:2em;
	.right{
		float:right;
		a{
			text-decoration:none;

			.icon{
				font-size: .8em;
				border:none;
			}
		}
	}
	
}

.appguide{
	padding:10px;
	margin-bottom:0px;

	.icon{
		margin-left:10px;
	}

}