.breadcrumb{
	li, li a{
		text-transform: capitalize;
	}
	> li + li:before{
		content: $breadcrumb-separator + "\00a0";
	}
}

.category{
	font-size:2em;
	.right{
		float:right;
		a{
			text-decoration:none;

			.icon{
				font-size: .8em;
				border:none;
			}
		}
	}

}

.appguides-container{
	margin: 25px 0;

	.container.appguide{
		h1{
			text-transform: capitalize;
		}

		table{
			thead tr th{
				font-size: 18px;
			}
			tbody{
				td{
					font-size: 14px;
					text-transform: capitalize;
					&:hover{
						cursor: pointer;
					}
					&:last-child{
						&:hover{
							cursor: default;
						}
						a{
							display:block;
						}
					}
				}
			}
		}
	}


	div.appguide{
		padding:10px;
		margin-bottom:0px;
		font-size: 1.5em;
		display:block;
		text-transform: capitalize;
		margin-bottom: 5px;
	}
}
