.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.super-padding{
	padding: 150px 0;
}

$newRed: rgb(199, 48, 49);
$topHeaderBackColor: #1c0104;
$headerMenuBackColor: #31070C;
$headerColor: #26090D;
$headerCallLinkColor: $newRed;
$footerColor: #999999;
$footerNavColor: $newRed;
$white: #ffffff;
$red: #ff0000;
$altRed : $newRed;

@import "./vendor.scss";
@import "./homepage.scss";
@import "./aboutus.scss";
@import "./category.scss";
@import "./part.scss";
@import "./contactus.scss";
@import "./becomedealer.scss";
@import "./applicationGuides.scss";
@import "./techSupport.scss";
@import "./lookup.scss";
@import "./vehicle.scss";
@import "./wheretobuy.scss";
@import "./news.scss";

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.link-no-deco{
	color: rgb(51, 51, 51);
}


.link-no-deco:hover{
	color: rgb(51, 51, 51);
}

.pace .pace-progress {
  background: $altRed;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.nodisplay {
  display: none;
}

body{
	background: url('/assets/img/bgtexture.png');
	font-family: "ff-good-headline-web-pro-con",sans-serif;
	-webkit-font-smoothing: antialiased;
	h1, h2, h3, h4{
		color: $headerColor;
		font-family: "ff-good-headline-web-pro-con",sans-serif;
		font-weight:700;
	}

	h1{
		font-size:38px;
	}

	h2{
		font-size:36px
	}

	h3{
		font-size:32px;
	}
	h4{
		font-size:28px;
	}


	p,li{
		font-family: "proxima-nova-condensed",sans-serif;
		font-size:18px;
	}

	a{
		color:$altRed;
	}

	a:hover{
		color:$headerColor;
	}

	a.red-transparent-button,
	button.red-transparent-button,
	button[type=submit].red-transparent-button,
	a.white-transparent-button,
	button.white-transparent-button,
	button[type=submit].white-transparent-button{
		background: transparent;
		background-color: rgba(255,255,255,0.6);
		font-weight: bold;
		padding: 2px 15px;
		font-size:18px;
		border-radius:0;
		cursor: pointer;
		margin-bottom: 5px;
		&:hover, &:focus, &:disabled{
			text-decoration: none;
			background-color:transparent;
			transition: 0.3s ease-in-out;
		}
	}

	a.red-transparent-button,
	button.red-transparent-button,
	button[type=submit].red-transparent-button{
		color: $altRed;
		border:1px solid $altRed;

		&:hover, &:focus, &:disabled{
			color:$headerColor;
			border-color: $headerColor;
			transition: 0.3s ease-in-out;
		}
	}
	a.white-transparent-button,
	button.white-transparent-button,
	button[type=submit].white-transparent-button{
		color: #fff;
		border:1px solid #fff;
		&:hover,&:focus, &:disabled{
			transition: 0.3s ease-in-out;
		}
	}

	/** main content div on layout **/
	.content{
		.internal-hero{
			background-size:cover;
			width:100%;
			height:250px;
			background-repeat: no-repeat;
			background-position:50% -270px;
			background-attachment:scroll;
		}
	}

	header{
		background-color: $newRed;
		box-shadow: 0 0 24px 0 rgba(0,0,0,0.6);
		border: 0;
		margin: 0;
		z-index: 16;
		position: relative;
		.navbar{
			background-color: $newRed;
			border: 0;
			margin: 0;
			.exact-text{
				font-size: .8em;
				.small-text{
					font-size: .6em;
				}
			}
			
			.topnav{
				.navbar-form{
					width: 40%;
					.form-group .form-control{
						width:100%;
						height:38px;
						font-size: 16px;
					}
                    button{
                        border-color: rgb(169, 42, 43);
                    }
				}
				.topNavItem{
					font-size:20px;
					font-family: "ff-good-headline-web-pro-con",sans-serif;
					-webkit-font-smoothing: antialiased;
				}
				background-color: rgb(255, 255, 255);
				margin: 0;
				font-size:20px;
				font-family: "ff-good-headline-web-pro-con",sans-serif;
				-webkit-font-smoothing: antialiased;
				.navbar-nav{
					ul{
						margin-right: 40px;
					}
					a{
						color: #777777;
						padding-top:10px;
						padding-bottom:10px;
						// -webkit-font-smoothing: antialiased;
						// font-size:20px;
					}
					a:hover{
						color: #dddddd;
					}
				}
			}

			.navbar-header{
				border: 0;
				.navbar-toggle{
					border: 0;
				}
				.navbar-brand{
					padding: 0;
                    img{
                        height: 50px;
                    }
				}
			}

			#navbarSeperator{
				height:2px;
				background-color:#cccccc;
			}

			#navbarCollapse{
				margin: 0;
				border: 0;

				-moz-box-shadow: inset 0px 0px 25px $newRed;
				-webkit-box-shadow: inset 0px 0px 25px $newRed;
				box-shadow: inset 0px 0px 25px $newRed;
				font-size:24px;

				.extraMenu{
					color:#cccccc;
					background-color:$topHeaderBackColor;
				}

				.navbar-form{
					border-top:none;
					border-bottom:none;
					box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
					.form-group{
						margin-bottom:0;
						padding-left:0;
					}
					button[type=submit]{
						font-size:16px;
						border: none;
					}
				}

				.navbar-nav{
					border: 0;

					a{
						color: $white;
						-webkit-font-smoothing: antialiased;
						padding: 10px 8px;
					}
					a:hover{
						color: #dddddd;
					}
					a.call-link{
						color: #ABABAB;
						font-size:20px;
						font-family: "ff-good-headline-web-pro-con",sans-serif;
					}
					a.call-link:hover{
						color: #D4D4D4;
						font-size:20px;
						font-family: "ff-good-headline-web-pro-con",sans-serif;
					}
					.open{
						a{
							color:$headerMenuBackColor;
							background-color: white;
							border-bottom: 1px solid white;
							border-radius: 4px 4px 0 0;
						}
					}

					.navigationItem{
						font-size:18px;
						padding-top:5px;
						font-family: "ff-good-headline-web-pro-con",sans-serif;
						-webkit-font-smoothing: antialiased;
					}

					li{
						.dropdown-menu{
							background-color:#ffffff;
							border-top: none;
							padding-top: 22px;
							margin: 0 0 0 -1px;
							font-size:18px;
							border-bottom: 4px solid $altRed;
							li{
								a{
									color: $headerMenuBackColor;
									border-radius:0;
									font-family: "ff-good-headline-web-pro-con",sans-serif;
								}
							}
							li:hover a{
								background-color:#cccccc;
							}

						}
					}
				}
				.phoneNum{
					border-left: 1px solid rgb(169, 42, 43);
					height: 85px;
					min-height: 100%;
					box-shadow: inset 1px 0px 0px $newRed;
				}
			}
		}
	}

    #icf_page{
        padding: 25px;
    }

	footer{
		background: url('/assets/img/footer-back.png');
		color: $footerColor;


		.container{
			overflow: auto;
			.footer-outter-row{
				margin-top: 30px;
				margin-bottom: 30px;
			}

			.addressInfo{
				font-size:18px;
			}
			.addressName{
				font-size:18px;
				font-weight:700;
			}

			font-family: "proxima-nova-condensed",sans-serif;

			h4{
				font-family: "ff-good-headline-web-pro-con",sans-serif;
				font-weight:700;
				font-size:28px;
			}


			.sema-logo-div{
				margin-top: 10px;
			}
			.footerNav{
				padding:0px 0px;
				padding-bottom:70px;
				ul{
					li{
						padding:0px;
						padding-top:4px;
						font-size:18px;
						a{
							padding:0px;

						}
						a:hover{
							color:#ccc;
						}
					}
				}
			}
			.footerLogo{
                width: 200px;
				max-height:110px;
			}
		}

		address{
			.phone-number-div{
				margin-top: 10px;
				margin-bottom: 10px;
			}

			.phone-text{
				margin-left: 5px;
				font-size:20px;
				a:hover{
					color: #666666;
				}
			}
		}

		.conditions{
			font-size:16px;
			.terms{
				text-decoration:underline;

			}
			a:hover{
				color: #666666;
			}

		}

		.social{
			padding-left:0px;
			h4{
				padding-left:15px;
			}
		}
		h4{
			color: $white;
		}
		a{
			color: $footerColor;
		}
		.nav{
			a{
				color: $footerNavColor;
				background-color:transparent;
			}
			a:hover{
				background-color:transparent;
			}
		}
	}

	input.form-control:focus,textarea.form-control:focus,select.form-control:focus{
		border-color: rgb(51,51,51);
		border-color: rgba(51,51,51,0.4);
		box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(51,51,51,0.6);
	}

	button[type=submit]{
		text-transform: uppercase;
		background-color: $newRed;
		border-color: #31070c;
		color: #fff;
		font-size: 18px;
		cursor: pointer;
		letter-spacing: 0.05em;
		&[disabled], &:hover, &:active, &:focus{
			border-color: $newRed;
			background-color:$newRed;
		}
	}
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


.responsiveTable{
  width: 100%;
  border-collapse: collapse;

	/* Zebra striping */
	tr:nth-of-type(odd) {
	  background: #eee;
	}
	th {
	  background: #333;
	  color: white;
	  font-weight: bold;
	}
	td, th {
	  padding: 2px;
	  border: 1px solid #ccc;
	  text-align: left;
	}
	@media
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

		tr { border: 1px solid #ccc; }

		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #E1E1E1;
			position: relative;
			padding-left: 50%;
			line-height:25px;
			min-height: 30px;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 2px;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

	}
}

.whats-new{
	cursor: pointer;
}
.modal-backdrop{
	height:1800px;
}
.lightboxWhatsNewVideo{
	height:400px;
	iframe{
		overflow:hidden;
		height:100%;
		width:100%
	}
}

@media(min-width: $screen-sm-min){
	body{
		header .navbar {
			#navbarCollapse {
				.navbar-form{
					box-shadow: none;
                    width: 75%;
					.form-control{
                        width: 100%;
						vertical-align: top;
					}
				}
				.navbar-nav {
					margin-top:0;
					.navigationItem:nth-child(1) > a{
						padding-left:0;
					}
				}
			}
		}
	}
}

@media(min-width: $screen-md-min){
	body{
		header .navbar {
			.topnav .topNavItem a{
				padding:0 15px;
				line-height: 55px;
				height:55px;
			}
			.navbar-header{
				height:85px;
				.navbar-brand {
                    margin: 0 20px;
                    height: 100%;
                    span{
                        display: inline-block;
                        vertical-align: middle;
                    }
                    img{
                        width: 200px;
                        vertical-align: middle;
                    }
				}
			}
			#navbarCollapse {

        .navbar-form{
                    width: 75%;
                }

				.navbar-nav {

					a.call-link {
						font-size: 16px;
						height:85px;
						line-height: 85px;
						padding: 0 8px;
					}
					.navigationItem{
						font-size: 18px;
						padding-top: 0;
						height: 85px;
						& > a{
							background: transparent;
							color:#ffffff;
							line-height:85px;
							padding:0 8px;
						}
					}
				}
			}
		}
		.content{
			.internal-hero{
				background-attachment:fixed;
			}
		}
	}
}

@media(min-width: $screen-lg-min){
	body{
		header .navbar {
			#navbarCollapse .navbar-nav {
				a.call-link {
					/* font-size: 20px; */
				}
				.navigationItem{
					/* font-size: 24px; */
				}
			}
		}
		.content{
			.internal-hero{
				background-attachment:fixed;
			}
		}
	}
}

.ytVideoWrapper{
 	position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;

	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// injector
// endinjector
