.center{
	text-align: center
}

.no-parts{
	.vehicle-option{
		padding: 5px 10px;
		display:block;
		display:inline-block;
		min-width:30px;
		font-size: 16px;
	}
}

.vehicle-data{
	select{
		margin-top:.6em;
	}
}

.vehicle-inquiry{
	.success{
		border-left: 3px solid #af231c;
		padding: 0 10px;
		margin: 10px 0 10px 10px;
	}
}

.style-top-wrap {
	padding:10px 15px;
	margin: 20px 0px 15px;
	height: 60px;
	background-color: #F5F5F5;
	border-radius: 4px 4px 4px 4px;
	vertical-align: middle;
}

.sel-top-bar {
	font-size: 22px;
	float:left;
	margin-right: 15px;
}

.set-style-btn {
	font-weight: bold;
	font-size: 16px;
}

.sel-style-bar {
	font-size: 24px;
	margin: 20px 0px 10px;
	padding:10px 15px;
	height: 60px;
	background-color: #F5F5F5;
	border-radius: 4px 4px 4px 4px;
}

.clear-style-btn {
	margin-left: 15px;
	margin-bottom: 5px;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 16px;
}

.style-drop {
	float: left;
}

.tab-top {
	background: url("/assets/img/bgtexture.png");
}

.nav-tabs>li {
	font-size: 12px;
}

.tab-content {
		background-color: #FFFFFF;
}

.product-view {
	padding: 0px 0px 10px;
}

#catPartsContainer {
	overflow: auto;
}

@media (min-width: 768px) {

	.tab-wrap {
		margin: 25px auto 0px;
		text-align: center;
		height: 60px;
		width: 98%;
	}

	.nav-tabs>li {
		width: 11%;
	}

	.nav-tabs>li>a {
		border: 0px;
		text-align: center;
		vertical-align: text-bottom;
		height: 60px;
		padding: 5px;
		overflow-x: auto;
		overflow-y: hidden;
		color: #C73031;
	}

	.nav-tabs>li>a:hover, .nav-tabs>li>a:focus {
		background-color: #FFFFFF;
		color: #C73031;
	}

	.nav-tabs>li.active>a,
	.nav-tabs>li.active>a:focus,
	.nav-tabs>li.active>a:hover {
		color: #C73031;
		border: 0px;
	}

	.tab-content {
			width: 98%;
			background-color: #FFFFFF;
			margin: 0px auto 15px;
	}

	.sm-tabs {
		display: none;
	}

}

@media (max-width: 767px) {
	.lg-tabs {
		display: none;
	}

	.sm-tabs {
		display: inherit;
		margin-top: 10px;
	}

	.nav-pills>li {
		font-size: 12px;
	}

	.nav-pills>li>a:hover, .nav-pills>li>a:focus {
		background-color: #FFFFFF;
		color: #C73031;
	}

	.nav-pills>li.active>a,
	.nav-pills>li.active>a:focus,
	.nav-pills>li.active>a:hover {
		background-color: #FFFFFF;
		color: #C73031;
		border-radius: 4px 0px 0px 4px;
	}

	.style-top-wrap {
		background-color: #FFFFFF;
		border: 0px;
		height: 90px;
	}

	.sel-style-bar {
		overflow: auto;
		background-color: #FFFFFF;
		border: 0px;
		height: 100%;
	}

	.clear-style-btn {
		margin-left: 0px;
	}

	.well {
		box-shadow: none;
	}

	.tab-wrap {
		width: 25%;
		float: left;
	}

	.tab-content {
		width: 75%;
		float: left;
	}

}
