.center{
	text-align: center
}

.no-parts{
	.vehicle-option{
		padding: 5px 10px;
		display:block;
		display:inline-block;
		min-width:30px;
		font-size: 16px;
	}
}

.vehicle-data{
	select{
		margin-top:.6em;
	}
}

.vehicle-inquiry{
	.success{
		border-left: 3px solid #af231c;
		padding: 0 10px;
		margin: 10px 0 10px 10px;
	}
}

.sel-top-bar {
	font-size: 22px;
	vertical-align: middle;
}

.set-style-btn {
	margin-left: 15px;
}

.sel-style-bar {
	font-size: 24px;
	margin-top: 5px;
}

.clear-style-btn {
	margin-left: 15px;
	background-color: #000000;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 16px;
}
