
.map-box{
    width: 100%;
    margin: 0 auto 20px auto;
    // padding: 20px 0 100px 0;
    .angular-google-map-container{
        height: 800px;
    }
    > img{
        width: 100%;
    }
}

.container.full-width{
    padding:0;
    margin:auto;
    width: 90%;
    .angular-google-map {
        top: 0 !important;
        padding: 0;
        img{
            max-width: none;
        }

        .info-window{
            padding: 10px;
            span{
                display:block;
                &.title{
                    font-size: 16px;
                    font-weight: bold;
                }
            }
            a {
                margin: 0 5px;
                display:block;
                &:hover{
                    text-decoration: none;
                }
                & > span{
                    vertical-align: top;
                    display:inline;
                }
            }
        }
    }
}

.text-locations{
    padding: 15px 0;
    > div{
        padding: 10px;
        margin: 10px;
        border-bottom: 3px solid #57111a;
        span, a{
            font-size: 16px;
            &.name{
                color: #57111a;
                text-transform: uppercase;
                font-size: 24px;
                font-weight: bold;
                display:block;
            }
            &.type{
                font-size: 16px;
                display:block;
                text-transform: none;
                font-weight: normal;
                color: #333333;
                margin-bottom: 15px;
            }
            &.city:before{
                clear:both;
                display:block;
                content: ' ';
            }
        }
        a{
            cursor: pointer;
        }

        .actions{
            margin-top: 10px;
            a{
                cursor: pointer;
                margin-right: 10px;
                text-decoration: none;
                font-size: 18px;
                span{
                    vertical-align: middle;
                }
            }
        }
    }
}
