<!--Vehicle-->

<div class="category-container" ng-cloak>

	<div ng-if="(parts.length == 0 || parts == null) && !qualified" class="no-parts container">
		<h4>
			Select a Vehicle
			<span ng-if="collections.length > 0">Category</span>
			<span ng-if="years.length > 0">Year</span>
			<span ng-if="makes.length > 0">Make</span>
			<span ng-if="models.length > 0">Model</span>
			<span ng-if="styles.length > 0">Style</span>
		</h4>
		<div class="well well-lg">
			<a href="[[vehicleLink(col)]]" ng-repeat="col in collections" class="vehicle-option collection">[[col | uppercase]]</a>
			<a href="[[vehicleLink(year)]]" ng-repeat="year in years" class="vehicle-option year">[[year]]</a>
			<a href="[[vehicleLink(make)]]" ng-repeat="make in makes" class="vehicle-option make">[[make | uppercase]]</a>
			<a href="[[vehicleLink(model)]]" ng-repeat="model in models" class="vehicle-option model">[[model | uppercase]]</a>
			<a href="[[vehicleLink(style)]]" ng-repeat="style in styles" class="vehicle-option style">[[style | uppercase]]</a>
		</div>
	</div>
	<div ng-if="(parts.length == 0 || parts == null) && qualified && loading" class="container">
		<form ng-submit="submitInquiry()" role="form" class="form-horizontal vehicle-inquiry" accept-charset="utf-8">
			<h4>Vehicle Inquiry</h4>
			<p class="lead">Well, this is embarrassing. We do not have parts for that application at this time.</p>
			<p class="lead">However, we are constantly developing new products. Please provide us with an email address and a brief description of the part you are looking for, and we will give you a holler when something awesome becomes available.</p>
			<p class="lead">Thank you for your interest in our products.</p>

			<div class="form-group">
				<label for="name" class="control-label col-lg-2">Name</label>
				<div class="col-lg-6">
					<input type="text" class="form-control" ng-model="inquiry.name" id="name" placeholder="Please enter your name">
				</div>
			</div>
			<div class="form-group">
				<label for="email" class="control-label col-lg-2">Email Address</label>
				<div class="col-lg-6">
					<input type="email" class="form-control" ng-model="inquiry.email" id="name" placeholder="Please enter your email address">
				</div>
			</div>
			<div class="form-group">
				<label for="phone" class="control-label col-lg-2">Phone Number</label>
				<div class="col-lg-6">
					<input type="tel" class="form-control" ng-model="inquiry.phone" id="name" placeholder="Please enter your phone number">
				</div>
			</div>
			<div class="form-group">
				<label for="vehicle" class="control-label col-lg-2">Vehicle</label>
				<div class="col-lg-6">
					<p class="form-control-static">[[generateVehicleString()]]</p>
				</div>
			</div>
			<div class="form-group" ng-if="categories.length > 0">
				<label for="category" class="control-label col-lg-2">Product Category</label>
				<div class="col-lg-6">
					<select class="form-control" integer id="category" ng-model="inquiry.category">
						<option value="">- Select Category -</option>
						<option ng-repeat="cat in categories | orderBy:'title'" value="[[cat.id]]">[[cat.title]]</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label for="message" class="control-label col-lg-2">Message</label>
				<div class="col-lg-6">
					<textarea name="message" rows="10" id="message" class="form-control" ng-model="inquiry.message" placeholder="Enter any further information that you woul like to include in your inquiry"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-6">
					<button type="submit" class="btn btn-default">Send Inquiry</button>
					<span class="success" ng-if="inquiry_success">Your inquiry has been submitted, thank you for your interest in ARIES Automotive.</span>
					<span class="success" ng-if="err.messageDetails">Error: [[err.messageDetails]]</span>
				</div>
			</div>
		</form>
	</div>

	<div>
		<div class="col-xs-12 col-md-12 col-lg-12 tab-top">
		<div class="tab-wrap" ng-if="!loading">
			<h3>Loading Parts...</h3>
		</div>
		<div class="tab-wrap" ng-if="loading">
			<ul class="nav nav-tabs nav-justified" role="tablist">
				<li ng-repeat="(i,cat) in categoryparts" ng-class="{active:tab.isSet(i)}" id="catTabs"><a href ng-click="setTab(i)">[[cat.name | uppercase]]</a>
					<li>
			</ul>
		</div>
			<div class="tab-content">
				<div ng-repeat="(i, cat) in categoryparts" id="[[i]]" ng-show="isSet(i)" layout-padding>
					<!-- <div class="category-style" layout-padding layout="row" layout-align="center center" ng-if="!cat.style && cat.available_styles.length > 0"> -->
					<div class="category-style style-top-wrap" ng-if="!cat.style && cat.available_styles.length > 0">
							<span class="md-title sel-top-bar">Please select a style that properly matches your vehicle.</span>
							<div class="dropdown style-drop">
								<button class="btn btn-default dropdown-toggle set-style-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-model="cat.style" aria-label="Select Style for [[ cat.title ]]">
									Select a Style
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li ng-repeat="style in cat.available_styles" role="presentation" ng-click="setCategoryStyle(cat, style)"><a role="menuitem" href>[[ style | uppercase ]]</a></li>
								</ul>
							</div>
					</div>

					<div id="catPartsContainer" class="container-fluid" ng-if="cat.style && cat.parts.length > 0">
						<div class="container">
							<div class="sel-style-bar" >
								<strong>Selected Style:</strong> [[cat.style | uppercase]]
								<button class="btn btn-default clear-style-btn" type="button" ng-click="resetStyle(cat)">RESET STYLE</button>
							</div>

							<div class="product-view col-sm-12 col-md-12 col-xs-12 col-lg-12" id="product-view">
								<!-- Products -->
								<part-box parts="cat.parts"></part-box>
								<div class="scrollButton" ng-click="scrollTo(productView)">
									<span>Top</span>
								</div>
								<div class="clearfix"></div>

							</div>
					</div>
				</div>

			</div>
	</div>
</div>
